.va-sidebar--theme-black {
  @include sidebar-theme-mixin(
    $mainBG: #18171B,
    $groupTitleColor: $N600,
    $headerColor: $N0,
    $headerBG: #18171B,
    $headerHoverBG: $GS400,
    $headerActiveColor: $B100 !important,
    $headerActiveBG: $N500,
    $headerActiveBoxShadow: inset 0px 0px 0px 2px $B200,
    $scrollareaThumbBG: rgba(141, 163, 202, 0.52),
    $scrollareaThumbHoverBG: rgba(141, 163, 202, 0.7),
    $itemBG: #18171B,
    $itemColor: $N200 !important,
    $itemSubstringColor: $N70,
    $itemIconColor: $N100,
    $itemToggleIconColor: $N300 !important,
    $itemTextIconColor: $N0,
    $itemActiveStateColor: inherit,
    $itemActiveStateBG: #21242d,
    $itemActiveStateIconColor: inherit,
    $itemHoverBG: #21242d,
    $itemHoverColor: inherit,
    $itemHoverColorTextLinks: $B200,
    $itemActiveColorTextLinks: $B400,
    $itemActiveStateColorTextLinks: $B300,
    $itemActiveFocusColor: $B100,
    $itemActiveFocusBG: #21242d,
    $itemActiveFocusBoxShadow: inset 0px 0px 0px 2px #2d3748,
    $itemFocusOutline: transparent,
    $topDivBoxShadow: 10px -2px 0px 0px $N600
  );
  @include placeholder-theme-mixin(
    $textLineBG: $N600,
    $textLineBeforeBorder: 7px solid $N700,
    $headingImageBG: $N600,
    $headingContentTitleBG: $N600,
    $animatedBeforeBG: linear-gradient(to right, transparent 0%, $N800 15%, transparent 30%)
  );
}