.va-minibar--theme-blue {
  @include minibar-theme-mixin($mainBG: $B500,
    $itemBG: transparent,
    $iconColor: $N0,
    $itemHoverBG: #2E65C7,
    $itemActiveBG: #235ab8,
    $itemFocusBorder: 2px solid $B200,
    $itemBrandHoverBG: transparent !important,
    $itemBrandActiveBorder: 2px solid transparent,
    $itemBrandActiveIconColor: $B100);
}