.va-minibar--theme-paleblue {
  @include minibar-theme-mixin($mainBG: #325594,
    $itemBG: transparent,
    $iconColor: $N0,
    $itemHoverBG: rgba(17, 52, 111, 0.42),
    $itemActiveBG: #397fd6,
    $itemFocusBorder: 2px solid $B200,
    $itemBrandHoverBG: transparent !important,
    $itemBrandActiveBorder: 2px solid transparent,
    $itemBrandActiveIconColor: $B100);
}