.va-topbar--theme-purple {
  @include topbar-theme-mixin(
    $mainBG: $P500,
    $mainColor: $N0,
    $inputPlaceholderColor: $N50,
    $formControlBG: darken($P500, 10%),
    $formControlBorder: 2px solid darken($P500, 10%),
    $formControlColor: $N0,
    $formControlFocusBorder: 2px solid $P200,
    $formControlFocusBG: darken($P500, 10%) !important
  );
}