@mixin minibar-theme-mixin($mainBG, $itemBG, $iconColor, $itemHoverBG, $itemActiveBG, $itemFocusBorder, $itemBrandHoverBG, $itemBrandActiveBorder, $itemBrandActiveIconColor) {
  background: $mainBG;

  .va-minibar-item {
    background: $itemBG;

    i {
      color: $iconColor;
    }

    &:hover {
      background: $itemHoverBG;
    }

    &:active {
      background: $itemActiveBG;
    }

    &:focus {
      border: $itemFocusBorder;
    }

    &-brand {
      &:hover {
        background: $itemBrandHoverBG;
      }

      &:active {
        border: $itemBrandActiveBorder;

        i {
          color: $itemBrandActiveIconColor;
        }
      }
    }
  }
}