@mixin topbar-theme-mixin(
  $mainBG,
  $mainColor,
  $inputPlaceholderColor,
  $formControlBG,
  $formControlBorder,
  $formControlColor,
  $formControlFocusBorder,
  $formControlFocusBG
) {
  background: $mainBG;

  .va-topbar-inner {
    color: $mainColor;
  }

  > .va-topbar-inner > .va-topbar-left > div > .va-input-con,
  > .va-topbar-inner > .va-topbar-center > div > .va-input-con,
  > .va-topbar-inner > .va-topbar-right > div > .va-input-con {
    input[type=text].va-form-control::-webkit-input-placeholder {
      color: $inputPlaceholderColor;
    }
    .va-form-control {
      background: $formControlBG;
      border: $formControlBorder;
      color: $formControlColor;
      &:focus {
        border: $formControlFocusBorder;
        background: $formControlFocusBG;
      }
    }
  }
}
