.#{$prefix-cls}-aside-open {
  transition: transform 0.3s;
}

.#{$prefix-cls}-aside {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 5;
  overflow: auto;
  background: $N0;
  &-left {
    left: 0;
    right: auto;
  }
  &-right {
    right: 0;
    left: auto;
  }
  &:focus {
    outline: 0;
  }
  &-dialog {
    .#{$prefix-cls}-aside-header {
      .#{$prefix-cls}-close {
        font-size: 24px;
        color: $N300;
      }
      .#{$prefix-cls}-aside-title {
        padding-top: 8px;
        font-size: 24px;
        color: $N300;
      }
    }
  }
  &-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    background: rgba(9, 30, 66, 0.54);
  }
  &-in {
    opacity: 1;
  }
}
