.#{$prefix-cls}-bars {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 100%;
  height: 100%;
  width: 100%;
  padding: 0;
  position: fixed;
  z-index: 5;
}

.#{$prefix-cls}-bars-rtl {
  .#{$prefix-cls}-sidebar-group-title {
    margin-right: 20px;
    text-align: right;
  }
  .#{$prefix-cls}-sidebar-group-item-text {
    text-align: right;
  }
}

.#{$prefix-cls}-bars-reverse {
  
}

.#{$prefix-cls}-minibar {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @media only screen and (max-width: 1024px) {
    &-mobile-friendly {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      min-height: 51px;
      max-height: 51px;
      flex-direction: row;
      justify-content: flex-start;
      width: auto !important;
      .#{$prefix-cls}-minibar-top,
      .#{$prefix-cls}-minibar-bottom {
        >div {
          display: flex;
          flex-direction: row;
        }
      }
      .#{$prefix-cls}-page-container {
        position: absolute;
        top: 51px !important;
        color: red !important;
      }
    }
  }

  &-top {
    flex-grow: 1;
    flex-basis: 0;
    padding-top: 20px;
  }
  &-bottom {
    flex-grow: 0;
    padding-bottom: 20px;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 1;
    &-brand {
      margin-bottom: 20px;
      border-radius: 0px;
    }
  }
}

.#{$prefix-cls}-topbar {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 7px;
  overflow: visible;
  &-inner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    cursor: default;
  }
}

.#{$prefix-cls}-topbar-left > div, .#{$prefix-cls}-topbar-right > div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.#{$prefix-cls}-topbar--theme-blue {
  background-color: $B500;
  .#{$prefix-cls}-topbar-inner {
    color: $N0;
  }
  .#{$prefix-cls}-input-con {
    input[type=text].#{$prefix-cls}-form-control::-webkit-input-placeholder {
      color: $N50;
    }
    .#{$prefix-cls}-form-control {
      background: darken($B500, 10%);
      border: 2px solid darken($B500, 10%);
      color: $N0;
      &:focus {
        border: 2px solid $B300;
        background: darken($B500, 10%) !important;
      }
    }
  }
}

.#{$prefix-cls}-topbar--theme-white {
  background-color: $N0;
  // -webkit-box-shadow: inset 0px -1px 0px 0px $N40;
  // -moz-box-shadow: inset 0px -1px 0px 0px $N40;
  // box-shadow: inset 0px -1px 0px 0px $N40;
  .#{$prefix-cls}-topbar-inner {
    color: $N500;
  }
  .#{$prefix-cls}-input-con {
    input[type=text].#{$prefix-cls}-form-control::-webkit-input-placeholder {
      color: $N70;
    }
  }
}

.#{$prefix-cls}-topbar--theme-default {
  background-color: $N20;
  .#{$prefix-cls}-topbar-inner {
    color: $N500;
  }
  .#{$prefix-cls}-input-con {
    input[type=text].#{$prefix-cls}-form-control::-webkit-input-placeholder {
      color: $N90;
    }
  }
}

.#{$prefix-cls}-topbar--theme-dark {
  background-color: $N700;
  .#{$prefix-cls}-topbar-inner {
    color: $N60;
  }
  .#{$prefix-cls}-input-con {
    input[type=text].#{$prefix-cls}-form-control::-webkit-input-placeholder {
      color: $N70;
    }
    .#{$prefix-cls}-form-control {
      background: $N400;
      border: 2px solid $N400;
      color: $N0;
      &:focus {
        border: 2px solid $N200;
        background: $N500 !important;
      }
    }
  }
}

.#{$prefix-cls}-topbar--theme-darker {
  background-color: $N800;
  .#{$prefix-cls}-topbar-inner {
    color: $N80;
  }
  .#{$prefix-cls}-input-con {
    input[type=text].#{$prefix-cls}-form-control::-webkit-input-placeholder {
      color: $N80;
    }
    .#{$prefix-cls}-form-control {
      background: $N500;
      border: 2px solid $N500;
      color: $N0;
      &:focus {
        border: 2px solid $N300;
        background: $N600 !important;
      }
    }
  }
}

.#{$prefix-cls}-sidebar {
  overflow-y: none;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 0 0 10px 0;
  justify-content: flex-start;
  overflow-y: auto;
  &-compact {
    .#{$prefix-cls}-sidebar-group-item {
      min-height: 25px;
      line-height: inherit;
    }
    .#{$prefix-cls}-sidebar-group-item-text {
      min-height: 25px;
    }
    .#{$prefix-cls}-sidebar-group-item-text a {
      min-height: 25px;
    }
  }
  &-header {
    margin: 15px 11px 15px 11px;
    a {
      outline: none !important;
    }
    .#{$prefix-cls}-btn {
      padding-left: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 14px;
      font-weight: 500;
      transition: none;
      &-text-fade {
        justify-content: flex-start;
      }
      i.#{$prefix-cls}-fa {}
      &:active {
        color: $N400;
        -webkit-box-shadow: inset 0px 0px 0px 2px $B200;
        -moz-box-shadow: inset 0px 0px 0px 2px $B200;
        box-shadow: inset 0px 0px 0px 2px $B200;
      }
    }
  }
  &-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &-title {
      font-size: 11px;
      font-weight: 600;
      line-height: 16px;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
      margin-top: 3px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }
}

.#{$prefix-cls}-sidebar-treenavigation {
  display: inline-block;
  padding: 0 11px 0 10px;
  margin: 0 0 10px 0;
  width: 100%;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  li {}
}

.#{$prefix-cls}-sidebar-navigationlevel {
  &-closed {
    ul {
      display: none;
    }
  }
  &-children {
    li {
      margin-left: 34px;
    }
  }
}

/*
global sidebar item style
*/

.#{$prefix-cls}-sidebar-group-item {
  $el: &;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
  margin: 0 0 4px 0;
  text-decoration: none;
  white-space: nowrap;
  padding: 0px 9px 0px 12px;
  font-size: 14px;
  line-height: 2.2em;
  border-radius: 3px;
  min-height: 36px;
  font-weight: 400;
  &-icon {
    font-size: 17px;
    margin-right: 10px;
    min-width: 18px;
    display: flex;
  }
  &:active,
  &:focus {
    outline: none;
    .#{$prefix-cls}-sidebar-group-item-icon {
      // color: $B300;
    }
  }
  &-text {
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 36px;
    a {
      flex: 1;
      position: relative;
      margin-left: -30px;
      padding-left: 30px;
      min-height: 36px;
      justify-content: center;
      line-height: 1;
    }
    &-icon {
      font-size: 4px;
      position: relative;
      top: 0px;
      left: -9px;
      padding-left: 9px;
      margin-right: 6px;
    }
  }
}

.#{$prefix-cls}-sidebar-group-item-toggle {
  &-closed {}
}

.#{$prefix-cls}-sidebar-group-item-toggle-icon {
  position: relative;
  top: -1.5px;
  margin-right: 7px;
  &-closed {}
}

.#{$prefix-cls}-sidebar-group-item-label,
.#{$prefix-cls}-sidebar-group-item-link,
.#{$prefix-cls}-sidebar-group-item-router-link,
.#{$prefix-cls}-sidebar-group-item-external-link {
  color: inherit !important;
  display: flex;
  flex-direction: column;
  line-height: 2em;
  &:active {}
  &:active,
  &:focus {
    outline: none;
  }
}

.#{$prefix-cls}-sidebar-group-item-substring {
  font-size: 12px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.#{$prefix-cls}-sidebar-scrollarea {
  overflow-y: hidden;
  &:hover {
    overflow-y: auto;
  }
}
.#{$prefix-cls}-sidebar-mobile {
  .#{$prefix-cls}-sidebar-scrollarea {
    overflow-y: auto;
  }
}

/*
        _                _           _     _           
  _ __ | | __ _  ___ ___| |__   ___ | | __| | ___ _ __ 
 | '_ \| |/ _` |/ __/ _ \ '_ \ / _ \| |/ _` |/ _ \ '__|
 | |_) | | (_| | (_|  __/ | | | (_) | | (_| |  __/ |   
 | .__/|_|\__,_|\___\___|_| |_|\___/|_|\__,_|\___|_|   
 |_|
foundation
*/

.#{$prefix-cls}-sidebar {
  .#{$prefix-cls}-placeholder {
    margin: 10px 5px 40px 20px;
    &-text {
      &-line {
        width: 60% !important;
        margin-left: 24px;
        margin-bottom: 22px;
        &::before {
          content: '';
          position: relative;
          border-radius: 50%;
          position: absolute;
          margin-left: -24px;
        }
      }
    }
    &-heading {
      margin-top: 10px;
      margin-bottom: 26px;
      display: flex;
      aign-items: center;
      &-image {
        width: 40px;
        height: 40px;
      }
      &-content {
        width: 60%;
        &-title {
          margin-bottom: 0;
        }
        &-subtitle {
          display: none;
        }
      }
    }
    &-animated {
      &::before {
        max-width: 1800px;
      }
    }
  }
}

/*
  _   _                              
 | |_| |__   ___ _ __ ___   ___  ___ 
 | __| '_ \ / _ \ '_ ` _ \ / _ \/ __|
 | |_| | | |  __/ | | | | |  __/\__ \
  \__|_| |_|\___|_| |_| |_|\___||___/
  ___________________________________
*/

/*
        _                _           _     _           
  _ __ | | __ _  ___ ___| |__   ___ | | __| | ___ _ __ 
 | '_ \| |/ _` |/ __/ _ \ '_ \ / _ \| |/ _` |/ _ \ '__|
 | |_) | | (_| | (_|  __/ | | | (_) | | (_| |  __/ |   
 | .__/|_|\__,_|\___\___|_| |_|\___/|_|\__,_|\___|_|   
 |_|
sidebar theme: default
*/

.#{$prefix-cls}-sidebar--theme-default {
  .#{$prefix-cls}-placeholder {
    &-text {
      &-line {
        background: $N40;
        &::before {
          border: 7px solid $N40;
        }
      }
    }
    &-heading {
      &-image {
        background: $N40;
      }
      &-content {
        &-title,
        &-subtitle {
          background: $N40;
        }
      }
    }
    &-animated {
      &::before {
        background: linear-gradient(to right, transparent 0%, $N20 15%, transparent 30%);
      }
    }
  }
}

/*
        _                _           _     _           
  _ __ | | __ _  ___ ___| |__   ___ | | __| | ___ _ __ 
 | '_ \| |/ _` |/ __/ _ \ '_ \ / _ \| |/ _` |/ _ \ '__|
 | |_) | | (_| | (_|  __/ | | | (_) | | (_| |  __/ |   
 | .__/|_|\__,_|\___\___|_| |_|\___/|_|\__,_|\___|_|   
 |_|
sidebar theme: white
*/

.#{$prefix-cls}-sidebar--theme-white {
  .#{$prefix-cls}-placeholder {
    &-text {
      &-line {
        background: $N30;
        &::before {
          border: 7px solid $N30;
        }
      }
    }
    &-heading {
      &-image {
        background: $N30;
      }
      &-content {
        &-title,
        &-subtitle {
          background: $N30;
        }
      }
    }
    &-animated {
      &::before {
        background: linear-gradient(to right, transparent 0%, $N0 15%, transparent 30%);
      }
    }
  }
}

/*
        _                _           _     _           
  _ __ | | __ _  ___ ___| |__   ___ | | __| | ___ _ __ 
 | '_ \| |/ _` |/ __/ _ \ '_ \ / _ \| |/ _` |/ _ \ '__|
 | |_) | | (_| | (_|  __/ | | | (_) | | (_| |  __/ |   
 | .__/|_|\__,_|\___\___|_| |_|\___/|_|\__,_|\___|_|   
 |_|
sidebar theme: blue
*/

.#{$prefix-cls}-sidebar--theme-blue {
  .#{$prefix-cls}-placeholder {
    &-text {
      &-line {
        background: $B300;
        &::before {
          border: 7px solid rgba(38, 132, 255, 0.5);
        }
      }
    }
    &-heading {
      &-image {
        background: $B300;
      }
      &-content {
        &-title,
        &-subtitle {
          background: $B300;
        }
      }
    }
    &-animated {
      &::before {
        background: linear-gradient(to right, transparent 0%, $B500 15%, transparent 30%);
      }
    }
  }
}

/*
        _                _           _     _           
  _ __ | | __ _  ___ ___| |__   ___ | | __| | ___ _ __ 
 | '_ \| |/ _` |/ __/ _ \ '_ \ / _ \| |/ _` |/ _ \ '__|
 | |_) | | (_| | (_|  __/ | | | (_) | | (_| |  __/ |   
 | .__/|_|\__,_|\___\___|_| |_|\___/|_|\__,_|\___|_|   
 |_|
sidebar theme: dark
*/

.#{$prefix-cls}-sidebar--theme-dark {
  .#{$prefix-cls}-placeholder {
    &-text {
      &-line {
        background: $N500;
        &::before {
          border: 7px solid $N600;
        }
      }
    }
    &-heading {
      &-image {
        background: $N500;
      }
      &-content {
        &-title,
        &-subtitle {
          background: $N500;
        }
      }
    }
    &-animated {
      &::before {
        background: linear-gradient(to right, transparent 0%, $N700 15%, transparent 30%);
      }
    }
  }
}

/*
        _                _           _     _           
  _ __ | | __ _  ___ ___| |__   ___ | | __| | ___ _ __ 
 | '_ \| |/ _` |/ __/ _ \ '_ \ / _ \| |/ _` |/ _ \ '__|
 | |_) | | (_| | (_|  __/ | | | (_) | | (_| |  __/ |   
 | .__/|_|\__,_|\___\___|_| |_|\___/|_|\__,_|\___|_|   
 |_|
sidebar theme: darker
*/

.#{$prefix-cls}-sidebar--theme-darker {
  .#{$prefix-cls}-placeholder {
    &-text {
      &-line {
        background: $N600;
        &::before {
          border: 7px solid $N700;
        }
      }
    }
    &-heading {
      &-image {
        background: $N600;
      }
      &-content {
        &-title,
        &-subtitle {
          background: $N600;
        }
      }
    }
    &-animated {
      &::before {
        background: linear-gradient(to right, transparent 0%, $N800 15%, transparent 30%);
      }
    }
  }
}

/*
      _     _      _                
  ___(_) __| | ___| |__   __ _ _ __ 
 / __| |/ _` |/ _ \ '_ \ / _` | '__|
 \__ \ | (_| |  __/ |_) | (_| | |   
 |___/_|\__,_|\___|_.__/ \__,_|_|
default
*/

.#{$prefix-cls}-sidebar--theme-default {
  background-color: $N20;
  .#{$prefix-cls}-sidebar-group-title {
    color: $N300;
  }
  .#{$prefix-cls}-sidebar-header {
    .#{$prefix-cls}-btn {
    }
  }
  .#{$prefix-cls}-sidebar-scrollarea {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(9, 30, 66, 0.42);
      &:hover {
        background-color: rgba(9, 30, 66, 0.55);
      }
    }
  }
  .#{$prefix-cls}-sidebar-group-item {
    background-color: $N20;
    color: $N400 !important;
    &-substring {
      color: $N80;
    }
    &-icon {
      color: $N400;
    }
    &-text-icon,
    &-toggle-icon {
      color: $N500 !important;
    }
    &-text {
      &-icon {
        color: $N300;
      }
    }
    &.active {
      color: $B400 !important;
      background: $N30;
    }
    &:hover {
      background-color: $N30;
      color: $N400;
    }
    &:active,
    &:focus {
      color: $N400;
      background-color: $B50;
    }
    &:focus {
      outline: none;
      .#{$prefix-cls}-btn {
        border: 2px solid red !important;
      }
    }
  }
}

/*
      _     _      _                
  ___(_) __| | ___| |__   __ _ _ __ 
 / __| |/ _` |/ _ \ '_ \ / _` | '__|
 \__ \ | (_| |  __/ |_) | (_| | |   
 |___/_|\__,_|\___|_.__/ \__,_|_|
white
*/

.#{$prefix-cls}-sidebar--theme-white {
  background-color: $N0;
  .#{$prefix-cls}-sidebar-group-title {
    color: $N300;
  }
  .#{$prefix-cls}-sidebar-header {
    .#{$prefix-cls}-btn {
      background: white;
      &:hover {
        background: $N20;
      }
    }
  }
  .#{$prefix-cls}-sidebar-scrollarea {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(9, 30, 66, 0.32);
      &:hover {
        background-color: rgba(9, 30, 66, 0.45);
      }
    }
  }
  .#{$prefix-cls}-sidebar-group-item {
    background-color: $N0;
    color: $N400 !important;
    &-substring {
      color: $N80;
    }
    &-icon {
      color: $N400;
    }
    &-text-icon,
    &-toggle-icon {
      color: $N100 !important;
    }
    &-text {
      &-icon {
        color: $N300;
      }
    }
    &.active {
      color: $B400 !important;
      background-color: $N20;
    }
    &:hover {
      background-color: $N20;
    }
    &:active,
    &:focus {
      color: $N400;
      background-color: $B50;
    }
  }
}

/*
      _     _      _                
  ___(_) __| | ___| |__   __ _ _ __ 
 / __| |/ _` |/ _ \ '_ \ / _` | '__|
 \__ \ | (_| |  __/ |_) | (_| | |   
 |___/_|\__,_|\___|_.__/ \__,_|_|
blue
*/

.#{$prefix-cls}-sidebar--theme-blue {
  background-color: $B500;
  .#{$prefix-cls}-sidebar-group-title {
    color: $N0;
  }
  .#{$prefix-cls}-sidebar-header {
    .#{$prefix-cls}-btn {
      background: $B500;
      color: $N0;
      &:hover {
        background: rgba(9, 30, 66, 0.42);
      }
      &:active,
      &:focus {
        color: $N0;
        // border: 2px solid $B100;
        background-color: $B200;
      }
    }
  }
  .#{$prefix-cls}-sidebar-scrollarea {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(141, 163, 202, 0.52);
      &:hover {
        background-color: rgba(141, 163, 202, 0.7);
      }
    }
  }
  .#{$prefix-cls}-sidebar-group-item {
    background-color: $B500;
    color: $N0 !important;
    &-substring {
      color: $N50;
    }
    &-icon {
      color: $N0;
    }
    &-text-icon,
    &-toggle-icon {
      color: $N500 !important;
    }
    &-text {
      &-icon {
        color: $N0;
      }
    }
    &.active {
      background: #123C89;
    }
    &:hover {
      background: #113679;
    }
    &:active,
    &:focus {
      color: $N400;
      -webkit-box-shadow: inset 0px 0px 0px 2px $B100;
      -moz-box-shadow: inset 0px 0px 0px 2px $B100;
      box-shadow: inset 0px 0px 0px 2px $B100;
      background-color: $B200;
    }
  }
}

/*
      _     _      _                
  ___(_) __| | ___| |__   __ _ _ __ 
 / __| |/ _` |/ _ \ '_ \ / _` | '__|
 \__ \ | (_| |  __/ |_) | (_| | |   
 |___/_|\__,_|\___|_.__/ \__,_|_|
dark
*/

.#{$prefix-cls}-sidebar--theme-dark {
  background-color: $N700;
  .#{$prefix-cls}-sidebar-group-title {
    color: $N70;
  }
  .#{$prefix-cls}-sidebar-header {
    .#{$prefix-cls}-btn {
      background: $N700;
      color: $N0;
      &:hover {
        background: $N900;
      }
      &:active,
      &:focus {
        color: $B100 !important;
        // border: 2px solid $N500;
        background-color: $N500;
      }
    }
  }
  .#{$prefix-cls}-sidebar-scrollarea {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(141, 163, 202, 0.52);
      &:hover {
        background-color: rgba(141, 163, 202, 0.7);
      }
    }
  }
  .#{$prefix-cls}-sidebar-group-item {
    background-color: $N700;
    color: $N0 !important;
    &-substring {
      color: $N70;
    }
    &-icon {
      color: $N0;
    }
    &-text-icon,
    &-toggle-icon {
      color: $N300 !important;
    }
    &-text {
      &-icon {
        color: $N0;
      }
    }
    &.active {
      background: $N800;
    }
    &:hover {
      background: $N900;
    }
    &:active,
    &:focus {
      color: $B100 !important;
      -webkit-box-shadow: inset 0px 0px 0px 2px $N500;
      -moz-box-shadow: inset 0px 0px 0px 2px $N500;
      box-shadow: inset 0px 0px 0px 2px $N500;
      background-color: $N500;
    }
  }
}

/*
      _     _      _                
  ___(_) __| | ___| |__   __ _ _ __ 
 / __| |/ _` |/ _ \ '_ \ / _` | '__|
 \__ \ | (_| |  __/ |_) | (_| | |   
 |___/_|\__,_|\___|_.__/ \__,_|_|
darker
*/

.#{$prefix-cls}-sidebar--theme-darker {
  background-color: $N800;
  .#{$prefix-cls}-sidebar-group-title {
    color: $N70;
  }
  .#{$prefix-cls}-sidebar-header {
    .#{$prefix-cls}-btn {
      background: $N800;
      color: $N0;
      &:hover {
        background: $N900;
      }
      &:active,
      &:focus {
        color: $B100 !important;
        // border: 2px solid $N500;
        background-color: $N500;
      }
    }
  }
  .#{$prefix-cls}-sidebar-scrollarea {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(141, 163, 202, 0.52);
      &:hover {
        background-color: rgba(141, 163, 202, 0.7);
      }
    }
  }
  .#{$prefix-cls}-sidebar-group-item {
    background-color: $N800;
    color: $N0 !important;
    &-substring {
      color: $N70;
    }
    &-icon {
      color: $N0;
    }
    &-text-icon,
    &-toggle-icon {
      color: $N300 !important;
    }
    &-text {
      &-icon {
        color: $N0;
      }
    }
    &.active {
      background: $N900;
    }
    &:hover {
      background: $N900;
    }
    &:active,
    &:focus {
      color: $B100 !important;
      -webkit-box-shadow: inset 0px 0px 0px 2px $N700;
      -moz-box-shadow: inset 0px 0px 0px 2px $N700;
      box-shadow: inset 0px 0px 0px 2px $N700;
      background-color: $N700;
    }
  }
}

/*
            _       _ _                
  _ __ ___ (_)_ __ (_) |__   __ _ _ __ 
 | '_ ` _ \| | '_ \| | '_ \ / _` | '__|
 | | | | | | | | | | | |_) | (_| | |   
 |_| |_| |_|_|_| |_|_|_.__/ \__,_|_|
default
*/

.#{$prefix-cls}-minibar--theme-default {
  background: $N20;
  .#{$prefix-cls}-minibar-item {
    background: transparent;
    i {
      color: $N300;
    }
    &:hover {
      background: $N30;
    }
    &:active {
      background: $B50;
    }
    &:focus {
      border: 2px solid $B50;
    }
    &-brand {
      &:hover {
        background: transparent;
      }
      &:active {
        border: 2px solid transparent;
        i {
          color: $B100;
        }
      }
    }
  }
}

/*
            _       _ _                
  _ __ ___ (_)_ __ (_) |__   __ _ _ __ 
 | '_ ` _ \| | '_ \| | '_ \ / _` | '__|
 | | | | | | | | | | | |_) | (_| | |   
 |_| |_| |_|_|_| |_|_|_.__/ \__,_|_|
blue
*/

.#{$prefix-cls}-minibar--theme-blue {
  background: $B500;
  .#{$prefix-cls}-minibar-item {
    background: transparent;
    i {
      color: $N0;
    }
    &:hover {
      background: rgba(9, 30, 66, 0.42);
    }
    &:active {
      background: $B200;
    }
    &:focus {
      border: 2px solid $B200;
    }
    &-brand {
      &:hover {
        background: transparent !important;
      }
      &:active {
        border: 2px solid $B100;
      }
    }
  }
}

/*
            _       _ _                
  _ __ ___ (_)_ __ (_) |__   __ _ _ __ 
 | '_ ` _ \| | '_ \| | '_ \ / _` | '__|
 | | | | | | | | | | | |_) | (_| | |   
 |_| |_| |_|_|_| |_|_|_.__/ \__,_|_|
white
*/

.#{$prefix-cls}-minibar--theme-white {
  background-color: $N0;
  .#{$prefix-cls}-minibar-item {
    i {
      color: $N300;
    }
    &:hover {
      background: $N20;
    }
    &:active {
      background-color: $B50;
    }
    &-brand {
      &:hover {
        background: transparent;
      }
      &:active {
        border: 2px solid transparent;
        i {
          color: $B100;
        }
      }
    }
  }
}

/*
            _       _ _                
  _ __ ___ (_)_ __ (_) |__   __ _ _ __ 
 | '_ ` _ \| | '_ \| | '_ \ / _` | '__|
 | | | | | | | | | | | |_) | (_| | |   
 |_| |_| |_|_|_| |_|_|_.__/ \__,_|_|
dark
*/

.#{$prefix-cls}-minibar--theme-dark {
  background: $N700;
  .#{$prefix-cls}-minibar-item {
    background: transparent;
    i {
      color: $N0;
    }
    &:hover {
      background: rgba(9, 30, 66, 0.42);
    }
    &:active {
      background: $N500;
    }
    &:focus {
      border: 2px solid $N500;
    }
    &-brand {
      &:hover {
        background: transparent !important;
      }
      &:active {
        border: 2px solid transparent;
        i {
          color: $N300;
        }
      }
    }
  }
}

/*
            _       _ _                
  _ __ ___ (_)_ __ (_) |__   __ _ _ __ 
 | '_ ` _ \| | '_ \| | '_ \ / _` | '__|
 | | | | | | | | | | | |_) | (_| | |   
 |_| |_| |_|_|_| |_|_|_.__/ \__,_|_|
darker
*/

.#{$prefix-cls}-minibar--theme-darker {
  background: $N800;
  .#{$prefix-cls}-minibar-item {
    background: transparent;
    i {
      color: $N0;
    }
    &:hover {
      background: rgba(49, 70, 107, 0.6);
    }
    &:active {
      background: $N600;
    }
    &:focus {
      border: 2px solid $N600;
    }
    &-brand {
      &:hover {
        background: transparent !important;
      }
      &:active {
        border: 2px solid transparent;
        i {
          color: $N400;
        }
      }
    }
  }
}

/*
This is personal preference, and a convenience style for when the sidebar
is placed inside of an aside.
*/

.#{$prefix-cls}-aside-body {
  .#{$prefix-cls}-sidebar {
    padding-top: 12px;
  }
}

/*
Sidebar scroll area
*/
.#{$prefix-cls}-sidebar-scrollarea {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
  &-scrolled {
    &::before {
      content: '';
      background-color: $N40;
      height: 2px;
      position: fixed;
      width: 200px;
      z-index: 2000;
    }
  }
}

.#{$prefix-cls}-sidebar-text-links {
  .#{$prefix-cls}-sidebar-group-item {
    &.active {
      background: none !important;
    }
    &:hover {
      background: none !important;
      text-decoration: underline;
    }
  }
}
