.#{$prefix-cls}-minibar {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  @media only screen and (max-width: 1024px) {
    &-mobile-friendly {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      min-height: 51px;
      max-height: 51px;
      flex-direction: row;
      justify-content: flex-start;
      width: auto !important;

      .#{$prefix-cls}-minibar-top,
      .#{$prefix-cls}-minibar-bottom {
        >div {
          display: flex;
          flex-direction: row;
        }
      }

      .#{$prefix-cls}-page-container {
        position: absolute;
      }
    }
  }

  &-top {
    flex-grow: 1;
    flex-basis: 0;
    padding-top: 20px;
  }

  &-bottom {
    flex-grow: 0;
    padding-bottom: 20px;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    cursor: default;
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 1;

    &-brand {
      margin-bottom: 20px;
      border-radius: 0px;
    }
  }
}

.#{$prefix-cls}-topbar {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 7px;
  overflow: visible;

  &-inner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    cursor: default;
  }
}

.#{$prefix-cls}-topbar-left>div,
.#{$prefix-cls}-topbar-right>div {
  display: flex;
  align-items: center;
  flex-direction: row;
}


.#{$prefix-cls}-sidebar {
  position: fixed;
  z-index: 2;
  overflow-y: none;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 0 0 10px 0;
  justify-content: flex-start;
  overflow-y: auto;

  &-compact {
    .#{$prefix-cls}-sidebar-group-item {
      min-height: 25px;
      line-height: inherit;
    }

    .#{$prefix-cls}-sidebar-group-item-text > .#{$prefix-cls}-sidebar-group-item-icon {
      font-size: 12px;
    }

    .#{$prefix-cls}-sidebar-group-item-text {
      min-height: 25px;
    }

    .#{$prefix-cls}-sidebar-group-item-text a {
      min-height: 25px;
    }
  }

  &-header {
    margin: 15px 11px 15px 11px;

    a {
      outline: none !important;
    }

    .#{$prefix-cls}-btn {
      padding-left: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 14px;
      font-weight: 500;
      transition: none;
      border-radius: 7px;

      &-text-fade {
        justify-content: flex-start;
      }

      i.#{$prefix-cls}-fa {}

      &:active {
        color: $N400;
        -webkit-box-shadow: inset 0px 0px 0px 2px $B200;
        -moz-box-shadow: inset 0px 0px 0px 2px $B200;
        box-shadow: inset 0px 0px 0px 2px $B200;
      }
    }
  }

  &-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      font-size: 11px;
      font-weight: 600;
      line-height: 16px;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
      margin-top: 3px;
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }
}

.#{$prefix-cls}-sidebar-treenavigation {
  display: inline-block;
  padding: 0 11px 0 10px;
  margin: 0 0 10px 0;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  li {}
}

.#{$prefix-cls}-sidebar-navigationlevel {
  &-closed {
    ul {
      display: none;
    }
  }

  &-children {
    li {
      margin-left: 34px;
    }
  }
}
/*
sidebar item defaults
*/
.#{$prefix-cls}-sidebar-group-item {
  $el: &;
  display: flex;
  align-items: center;
  cursor: default;
  outline: 0;
  margin: 0 0 4px 0;
  text-decoration: none;
  white-space: nowrap;
  padding: 0px 9px 0px 12px;
  font-size: 14px;
  line-height: 2.2em;
  border-radius: 3px;
  min-height: 36px;
  font-weight: 400;

  &-icon {
    font-size: 17px;
    margin-right: 10px;
    min-width: 18px;
    display: flex;
  }

  &:active,
  &:focus {
    outline: none;

    .#{$prefix-cls}-sidebar-group-item-icon {
      // color: $B300;
    }
  }

  &-text {
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 36px;

    max-width: 100%;

    a {
      flex: 1;
      position: relative;
      margin-left: -30px;
      padding-left: 30px;
      min-height: 36px;
      justify-content: center;
      line-height: 1;
    }

    &-icon {
      font-size: 4px;
      position: relative;
      top: 0px;
      left: -9px;
      padding-left: 9px;
      margin-right: 6px;
    }
  }
}

.#{$prefix-cls}-sidebar-group-item-toggle {
  &-closed {}
}

.#{$prefix-cls}-sidebar-group-item-toggle-icon {
  position: relative;
  top: -1.5px;
  margin-right: 7px;

  &-closed {}
}

.#{$prefix-cls}-sidebar-group-item-label,
.#{$prefix-cls}-sidebar-group-item-link,
.#{$prefix-cls}-sidebar-group-item-router-link,
.#{$prefix-cls}-sidebar-group-item-external-link {
  color: inherit !important;
  display: flex;
  flex-direction: column;
  line-height: 2em;
  max-width: 100%;

  &:active {}

  &:active,
  &:focus {
    outline: none !important;
    border-bottom: none !important;
  }
}

.#{$prefix-cls}-sidebar-group-item-substring {
  font-size: 12px;
  line-height: 1.3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}

/*
        _                _           _     _           
  _ __ | | __ _  ___ ___| |__   ___ | | __| | ___ _ __ 
 | '_ \| |/ _` |/ __/ _ \ '_ \ / _ \| |/ _` |/ _ \ '__|
 | |_) | | (_| | (_|  __/ | | | (_) | | (_| |  __/ |   
 | .__/|_|\__,_|\___\___|_| |_|\___/|_|\__,_|\___|_|   
 |_|
foundation
*/
.#{$prefix-cls}-sidebar {
  .#{$prefix-cls}-placeholder {
    margin: 10px 5px 40px 20px;

    &-text {
      &-line {
        width: 60% !important;
        margin-left: 24px;
        margin-bottom: 22px;

        &::before {
          content: '';
          position: relative;
          border-radius: 50%;
          position: absolute;
          margin-left: -24px;
        }
      }
    }

    &-heading {
      margin-top: 10px;
      margin-bottom: 26px;
      display: flex;
      aign-items: center;

      &-image {
        width: 40px;
        height: 40px;
      }

      &-content {
        width: 60%;

        &-title {
          margin-bottom: 0;
        }

        &-subtitle {
          display: none;
        }
      }
    }

    &-animated {
      &::before {
        max-width: 1800px;
      }
    }
  }
}

/*
placeholder theme mixin
*/
@mixin placeholder-theme-mixin(
  $textLineBG,
  $textLineBeforeBorder,
  $headingImageBG,
  $headingContentTitleBG,
  $animatedBeforeBG
) {
  .#{$prefix-cls}-placeholder {
    &-text {
      &-line {
        background: $textLineBG;
        &::before {
          border: $textLineBeforeBorder;
        }
      }
    }
    &-heading {
      &-image {
        background: $headingImageBG;
      }
      &-content {
        &-title, &-subtitle {
          background: $headingContentTitleBG;
        }
      }
    }
    &-animated {
      &::before {
        background: $animatedBeforeBG;
      }
    }
  }
}

/**
Disable box shadow on active/focus textLinks
*/
.#{$prefix-cls}-sidebar.#{$prefix-cls}-sidebar-text-links {
  .#{$prefix-cls}-sidebar-group-item {
    &:active, &:focus {
      box-shadow: none;
    }
  }
}

/*
This is personal preference, and a convenience style for when the sidebar
is placed inside of an aside.
*/
.#{$prefix-cls}-aside-body {
  .#{$prefix-cls}-sidebar {
    padding-top: 12px;
  }
}

/*
  __,                                        _  _           
 (    o    /    /                           // // /         
  `. ,  __/ _  /  __,  _     (   _, _   __ // // /  __,  _  
(___)(_(_/_(/_/_)(_/(_/ (_  /_)_(__/ (_(_)(/_(/_/_)(_/(_/ (_
*/
.#{$prefix-cls}-sidebar-scrollarea {
  overflow-y: hidden;

  &:hover {
    overflow-y: auto;
  }
}

.#{$prefix-cls}-sidebar-mobile {
  .#{$prefix-cls}-sidebar-scrollarea {
    overflow-y: auto;
  }
}

.#{$prefix-cls}-sidebar-scrollarea {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  &-scrolled {
    &::before {
      content: '';
      background-color: $N40;
      height: 2px;
      position: fixed;
      width: 200px;
      z-index: 2000;
    }
  }
}

.#{$prefix-cls}-sidebar-text-links {
  .#{$prefix-cls}-sidebar-group-item {
    &.active {
      background: none !important;
    }

    &:hover {
      background: none !important;
      text-decoration: underline;
    }
  }
}

.#{$prefix-cls}-page-wrapper {
  overflow-y: hidden;
  overflow-x: hidden;

  &:hover {
    overflow-y: auto;
    overflow-x: auto;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(9, 30, 66, 0.32);
    &:hover {
      background: rgba(9, 30, 66, 0.45);
    }
  }
}
