.va-minibar {
  position: fixed;
  z-index: 6;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: 1024px) {
    &-mobile-friendly {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      min-height: 51px;
      max-height: 51px;
      flex-direction: row;
      justify-content: flex-start;
      width: auto !important;

      .va-minibar-top,
      .va-minibar-bottom {
        >div {
          display: flex;
          flex-direction: row;
        }
      }

      .va-page-container {
        position: absolute;
      }
    }
  }

  &-top {
    flex-grow: 1;
    flex-basis: 0;
    padding-top: 20px;
  }

  &-bottom {
    flex-grow: 0;
    padding-bottom: 20px;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50%;
    cursor: default;
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
    padding: 0;
    line-height: 2;

    &-brand {
      margin-bottom: 20px;
      border-radius: 0px;
    }
  }
}

.va-topbar {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 7px;
  overflow: visible;

  &-inner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    cursor: default;

    .va-btn {
      max-height: unset;
    }
  }

  &-left,
  &-center,
  &-right {
    height: 100%;
  }
}

.va-topbar-left>div,
.va-topbar-right>div,
.va-topbar-center>div {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
}


.va-sidebar {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 0 0 10px 0;
  justify-content: flex-start;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &-compact {
    .va-sidebar-group-item {
      min-height: 20px;
      line-height: inherit;
    }

    .va-sidebar-group-item-text>.va-sidebar-group-item-icon {
      font-size: 12px;
    }

    .va-sidebar-group-item-text {
      min-height: 20px;
    }

    .va-sidebar-group-item-text a {
      min-height: 20px;
    }
  }

  &-header {
    margin: 15px 11px 15px 11px;

    a {
      outline: none !important;
    }

    .va-btn {
      padding-left: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      font-size: 14px;
      font-weight: 500;
      transition: none;
      border-radius: 7px;

      &-text-fade {
        justify-content: flex-start;
      }

      &:active {
        color: $N400;
        -webkit-box-shadow: inset 0px 0px 0px 2px $B200;
        -moz-box-shadow: inset 0px 0px 0px 2px $B200;
        box-shadow: inset 0px 0px 0px 2px $B200;
      }
    }
  }

  &-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      font-size: 11px;
      font-weight: 600;
      line-height: 16px;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap;
      margin-top: 3px;
      margin-bottom: 10px;
      margin-left: 22px;
    }
  }
}

.va-sidebar-treenavigation {
  display: inline-block;
  padding: 0 11px 0 10px;
  margin: 0 0 10px 0;
  width: 100%;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.va-sidebar-navigationlevel {
  &-open {
    > .va-sidebar-navigationlevel-parent {
      > .va-sidebar-group-item {
        > .va-sidebar-group-item-text {
          // reserved for styling an expanded parent
        }
      }
    }
  }

  &-closed {
    ul {
      display: none;
    }
  }

  &-children {
    li {
      margin-left: 34px;
    }
  }
}

/*
sidebar item defaults
*/
.va-sidebar-group-item {
  $el: &;
  display: flex;
  align-items: center;
  cursor: default;
  outline: 0;
  margin: 0 0 4px 0;
  text-decoration: none;
  white-space: nowrap;
  padding: 0px 9px 0px 12px;
  font-size: 14px;
  line-height: 1em;
  border-radius: 3px;
  min-height: 30px;
  font-weight: 400;

  &-icon {
    font-size: 16px;
    margin-right: 5px;
    width: 20px;
    min-width: 20px;
    display: flex;
    justify-content: space-around;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &-text {
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 30px;
    max-width: 100%;

    a {
      flex: 1;
      position: relative;
      min-height: 30px;
      justify-content: center;
      line-height: 1;
    }

    &-icon {
      font-size: 4px;
      position: relative;
      top: 0px;
      left: -9px;
      padding-left: 9px;
      margin-right: 6px;
    }
  }
}

.va-sidebar-group-item-toggle-icon {
  position: relative;
  top: -1.5px;
  margin-right: 7px;
}

.va-sidebar-group-item-label,
.va-sidebar-group-item-link,
.va-sidebar-group-item-router-link,
.va-sidebar-group-item-external-link {
  color: inherit !important;
  display: flex;
  flex-direction: column;
  line-height: 1em;
  max-width: 100%;

  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;

  &:active,
  &:focus {
    outline: none !important;
    border-bottom: none !important;
  }
}

.va-sidebar-group-item-substring {
  font-size: 12px;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  margin-bottom: 7px;
}

.va-sidebar {
  .va-placeholder {
    margin: 10px 5px 40px 20px;

    &-text {
      &-line {
        width: 60% !important;
        margin-left: 24px;
        margin-bottom: 22px;

        &::before {
          content: '';
          position: relative;
          border-radius: 50%;
          position: absolute;
          margin-left: -24px;
        }
      }
    }

    &-heading {
      margin-top: 10px;
      margin-bottom: 26px;
      display: flex;
      align-items: center;

      &-image {
        width: 40px;
        height: 40px;
      }

      &-content {
        width: 60%;

        &-title {
          margin-bottom: 0;
        }

        &-subtitle {
          display: none;
        }
      }
    }

    &-animated {
      &::before {
        max-width: 1800px;
      }
    }
  }
}

@mixin placeholder-theme-mixin($textLineBG,
$textLineBeforeBorder,
$headingImageBG,
$headingContentTitleBG,
$animatedBeforeBG) {
  .va-placeholder {
    &-text {
      &-line {
        background: $textLineBG;

        &::before {
          border: $textLineBeforeBorder;
        }
      }
    }

    &-heading {
      &-image {
        background: $headingImageBG;
      }

      &-content {

        &-title,
        &-subtitle {
          background: $headingContentTitleBG;
        }
      }
    }

    &-animated {
      &::before {
        background: $animatedBeforeBG;
      }
    }
  }
}

/**
Disable box shadow and background on active/focus textLinks
*/
.va-sidebar.va-sidebar-text-links {
  .va-sidebar-group-item {
    &:active,
    &:focus {
      box-shadow: none;
      background: none !important;
    }
  }
}

.va-sidebar-scrollarea {
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 25px;

  &:hover {
    overflow-y: auto;
  }
}

.va-sidebar-mobile {
  .va-sidebar-scrollarea {
    overflow-y: auto;
  }
}

.va-sidebar-grabber {
  position: absolute;
  width: 12px;
  height: 100%;
  background: transparent;
  border-left: 2px solid transparent;
  cursor: ew-resize;
  transition: border 500ms ease-out;
  transition-delay: 0s;

  &:hover {
    border-left: 2px solid $B200;
    transition-delay: 0.5s;
  }
}

.va-sidebar-scrollarea {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }
}

.va-sidebar-text-links {
  .va-sidebar-group-item {
    &.active {
      background: none !important;
      text-decoration: underline;
    }
    &:active {
      background: none !important;
    }

    &:hover {
      background: none !important;
      text-decoration: none;
      a, a:link, a:active, a:visited {
        text-decoration: underline !important;
      }
      .va-sidebar-group-item-label {
        text-decoration: underline;
      }
    }
  }
}
