.#{$class-prefix}-breadcrumb {
  cursor: default;
  &-item {
    color: $N200;
    &-icon {

    }
    &-icon, &-separator {
      margin:0 5px !important;
    }
    &:last-child {
      .#{$class-prefix}-breadcrumb-item-icon {
        display: none;
      }
      .#{$class-prefix}-breadcrumb-item-separator {
        display: none !important;
      }
    }
  }
  &-link {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
      color: $B300;
    }
    &:active {
      color: $B500;
      text-decoration: none;
    }
  }
}
