@mixin btn-type-mixin($bgCol, $fontCol, $bgColHover, $fontColHover, $bgColActive, $fontColActive, $badgeBgCol, $badgeFontCol) {
  background-color: $bgCol;
  color: $fontCol;

  &:hover:not(.#{$class-prefix}-btn-disabled) {
    background-color: $bgColHover;
    color: $fontColHover;
  }

  &:active:not(.#{$class-prefix}-btn-disabled) {
    background-color: $bgColActive;
    color: $fontColActive;
  }

  .#{$class-prefix}-badge {
    color: $badgeFontCol;
    background-color: $badgeBgCol;
  }
}

@mixin button-focus-mixin($boxShadowColor, $boxShadowOpacity: 0.6) {

  // no ring on hover
  // &:focus:not(:active):not(:hover), &-focused:not(:active):not(:hover) {
  //   box-shadow: $color 0px 0px 0px 2px; /* fallback */
  //   box-shadow: rgba($color, $opacity) 0px 0px 0px 2px;
  //   outline: none;
  // }
  // ring on hover
  &:focus:not(:active):not(.#{$class-prefix}-select-btn-open):not(.#{$class-prefix}-btn-disabled),
  &-focused:not(:active):not(.#{$class-prefix}-select-btn-open):not(.#{$class-prefix}-btn-disabled) {
    box-shadow: inset $boxShadowColor 0px 0px 0px 2px;
    /* fallback */
    box-shadow: inset rgba($boxShadowColor, $boxShadowOpacity) 0px 0px 0px 2px;
    outline: none;
  }
}

@mixin button-outline-mixin(
  $outlineColor,
  $outlineWidth,
  $activeOutlineColor
  ) {
  box-shadow: inset $outlineColor 0px 0px 0px $outlineWidth;
  outline: none;

  &:active {
    box-shadow: inset $activeOutlineColor 0px 0px 0px $outlineWidth;
  }
}



.#{$class-prefix}-btn {
  &-default {
    @include btn-type-mixin($bgCol: $N20,
      $fontCol: $N400,
      $bgColHover: $N30,
      $fontColHover: $N400,
      $bgColActive: $B50,
      $fontColActive: $B400,
      $badgeBgCol: $N20,
      $badgeFontCol: $N400);
    @include button-focus-mixin($B100, 1);
  }

  &-primary {
    @include btn-type-mixin($bgCol: $B400,
      $fontCol: $N0,
      $bgColHover: $B300,
      $fontColHover: $N0,
      $bgColActive: $B500,
      $fontColActive: $N0,
      $badgeBgCol: $N20,
      $badgeFontCol: $N400);
    @include button-focus-mixin($B100, 1);
  }

  &-primary-light {
    @include btn-type-mixin($bgCol: $B300,
      $fontCol: $N0,
      $bgColHover: $B200,
      $fontColHover: $N0,
      $bgColActive: $B400,
      $fontColActive: $N0,
      $badgeBgCol: $N20,
      $badgeFontCol: $N400);
    @include button-focus-mixin($B100, 1);
  }

  &-primary-dark {
    @include btn-type-mixin($bgCol: $B500,
      $fontCol: $N0,
      $bgColHover: $B300,
      $fontColHover: $N0,
      $bgColActive: $B400,
      $fontColActive: $N0,
      $badgeBgCol: $N20,
      $badgeFontCol: $N400);
    @include button-focus-mixin($B100, 1);
  }

  &-purple {
    @include btn-type-mixin($bgCol: $P500,
      $fontCol: $N0,
      $bgColHover: $P400,
      $fontColHover: $N0,
      $bgColActive: $P600,
      $fontColActive: $N0,
      $badgeBgCol: $N20,
      $badgeFontCol: $N400);
    @include button-focus-mixin($P100, 1);
  }

  &-purple-light {
    @include btn-type-mixin($bgCol: $P400,
      $fontCol: $N0,
      $bgColHover: $P300,
      $fontColHover: $N0,
      $bgColActive: $P300,
      $fontColActive: $N0,
      $badgeBgCol: $N20,
      $badgeFontCol: $N400);
    @include button-focus-mixin($P100, 1);
  }

  &-purple-dark {
    @include btn-type-mixin($bgCol: darken($P600, 5%),
      $fontCol: $N0,
      $bgColHover: $P400,
      $fontColHover: $N0,
      $bgColActive: $P600,
      $fontColActive: $N0,
      $badgeBgCol: $N20,
      $badgeFontCol: $N400);
    @include button-focus-mixin($P300, 1);
  }

  &-paleblue {
    @include btn-type-mixin($bgCol: $PB300,
      $fontCol: $N0,
      $bgColHover: $PB200,
      $bgColActive: $PB400,
      $fontColHover: $N0,
      $fontColActive: $N0,
      $badgeBgCol: $N20,
      $badgeFontCol: $N400);
    @include button-focus-mixin($PB100, 1);
  }

  &-success {
    @include btn-type-mixin($bgCol: $G400,
      $fontCol: $N0,
      $bgColHover: $G300,
      $fontColHover: $N0,
      $bgColActive: $G500,
      $fontColActive: $N0,
      $badgeBgCol: $G300,
      $badgeFontCol: $N0);
    @include button-focus-mixin($G300, 1);
  }

  &-info {
    @include btn-type-mixin($bgCol: $T400,
      $fontCol: $N0,
      $bgColHover: $T300,
      $fontColHover: $N0,
      $bgColActive: $T500,
      $fontColActive: $N0,
      $badgeBgCol: $T400,
      $badgeFontCol: $N0);
    @include button-focus-mixin($T200, 1);
  }

  &-warning {
    @include btn-type-mixin($bgCol: $Y400,
      $fontCol: $N500,
      $bgColHover: $Y300,
      $fontColHover: $N600,
      $bgColActive: $Y500,
      $fontColActive: $N600,
      $badgeBgCol: $Y400,
      $badgeFontCol: $N0);
    @include button-focus-mixin(darken($Y500, 7%), 1);
  }

  &-danger {
    @include btn-type-mixin($bgCol: $R400,
      $fontCol: $N0,
      $bgColHover: $R300,
      $fontColHover: $N0,
      $bgColActive: $R500,
      $fontColActive: $N0,
      $badgeBgCol: $R400,
      $badgeFontCol: $N0);
    @include button-focus-mixin($R100, 1);
  }

  &-subtle {
    @include btn-type-mixin($bgCol: transparent,
      $fontCol: $N400,
      $bgColHover: $N30,
      $fontColHover: $N400,
      $bgColActive: $B50,
      $fontColActive: $B400,
      $badgeBgCol: $N50,
      $badgeFontCol: $N500);
    @include button-focus-mixin($B200, 1);
  }

  &-link {
    @include btn-type-mixin($bgCol: transparent,
      $fontCol: $B400,
      $bgColHover: transparent,
      $fontColHover: $B300,
      $bgColActive: transparent,
      $fontColActive: $B500,
      $badgeBgCol: $N50,
      $badgeFontCol: $N500);

    &:hover {
      text-decoration: underline;
    }

    &:active,
    &:focus {
      text-decoration: none;
    }

    @include button-focus-mixin($B200, 1);
  }

  &-subtle-link {
    @include btn-type-mixin($bgCol: transparent,
      $fontCol: $N100,
      $bgColHover: transparent,
      $fontColHover: $N80,
      $bgColActive: transparent,
      $fontColActive: $N400,
      $badgeBgCol: $N50,
      $badgeFontCol: $N500);

    &:hover {
      text-decoration: underline;
    }

    &:active,
    &:focus {
      text-decoration: none;
    }

    @include button-focus-mixin($B200, 1);
  }

  &-dark {
    @include btn-type-mixin($bgCol: $N700,
      $fontCol: $N50,
      $bgColHover: $N500,
      $fontColHover: $N40,
      $bgColActive: $N800,
      $fontColActive: $N200,
      $badgeBgCol: $N500,
      $badgeFontCol: $N200);
    @include button-focus-mixin($N100, 1);
  }

  &-darker {
    @include btn-type-mixin($bgCol: $N800,
      $fontCol: $N50,
      $bgColHover: $N500,
      $fontColHover: $N40,
      $bgColActive: $N700,
      $fontColActive: $N200,
      $badgeBgCol: $N500,
      $badgeFontCol: $N200);
    @include button-focus-mixin($N100, 1);
  }

  &-active {
    @include btn-type-mixin($bgCol: $B50,
      $fontCol: $B400,
      $bgColHover: $B50,
      $fontColHover: $B400,
      $bgColActive: $B50,
      $fontColActive: $B400,
      $badgeBgCol: $N700,
      $badgeFontCol: $N0);
    @include button-focus-mixin($B100, 1);
  }

  &-black {
    @include btn-type-mixin($bgCol: #18171B,
      $fontCol: $N200,
      $bgColHover: #18171B,
      $fontColHover: $N80,
      $bgColActive: #18171B,
      $fontColActive: $N400,
      $badgeBgCol: $N700,
      $badgeFontCol: $N0);
    @include button-focus-mixin($B100, 1);
  }
}



@mixin xs-button-size-mixin() {
  @include btn-size-mixin($padding: 4px 8px,
    $fontSize: 12px,
    $lineHeight: 1.5em,
    $borderRadius: 4px);
  > div {
    min-width: 13px;
  }
  min-height: 26px;
  max-height: 26px;
}

@mixin sm-button-size-mixin() {
  @include btn-size-mixin($padding: 1px 8px,
    $fontSize: 13px,
    $lineHeight: 2.2em,
    $borderRadius: 4px);
  > div {
    min-width: 15px;
  }
  min-height: 30px;
  max-height: 30px;
}

@mixin md-button-size-mixin() {
  @include btn-size-mixin($padding: 0px 9px,
    $fontSize: 14px,
    $lineHeight: 2.3em,
    $borderRadius: 4px);
  > div {
    min-width: 17px;
  }
  min-height: 34px;
  max-height: 34px;
}

@mixin lg-button-size-mixin() {
  @include btn-size-mixin($padding: 2px 15px,
    $fontSize: 17px,
    $lineHeight: 2.5em,
    $borderRadius: 4px);
  > div {
    min-width: 23px;
  }
  min-height: 45px;
  max-height: 45px;
}

@mixin btn-size-mixin($padding, $fontSize, $lineHeight, $borderRadius) {
  padding: $padding;
  font-size: $fontSize;
  line-height: $lineHeight;
  border-radius: $borderRadius;
}

.#{$class-prefix}-btn {
  border: none;
  outline: 0;
  margin: 0;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  font-family: inherit;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background 0.1s ease-out,
    box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);

  &:hover {
    text-decoration: none;
  }

  &:focus,
  &:active:focus,
  &-active:focus {
    outline: 0;
  }

  &:active {
    -webkit-transition-property: none;
    -moz-transition-property: none;
    -ms-transition-property: none;
    transition-property: none;
  }

  &-disabled {
    color: $N50 !important;
    cursor: not-allowed;
  }

  >div {
    >a {
      cursor: default;

      &:hover {
        text-decoration: none !important;
      }
    }
  }

  &-round {
    border-radius: 50% !important;
  }

  &-block {
    display: flex;
    width: 100%;
  }

  &-text-fade {
    position: relative;
    display: flex;
    align-items: center;
    transition: opacity 0.2s;
    opacity: 1;
    width: 100%;
    justify-content: space-around;

    &-out {
      opacity: 0;
    }
  }

  &-xs {
    @include xs-button-size-mixin()
  }

  &-sm {
    @include sm-button-size-mixin()
  }

  &-md {
    @include md-button-size-mixin()
  }

  &-lg {
    @include lg-button-size-mixin()
  }

  /**
  Styles applied to the loading spinner inside of the button element.
  All sizes defined here.
  */
  .#{$class-prefix}-page-loading-con {
    position: absolute;
  }

  &-xs {
    .#{$class-prefix}-page-loading-con {
      margin-top: 1px;

      svg {
        width: 16px !important;
      }
    }
  }

  &-sm {
    .#{$class-prefix}-page-loading-con {
      margin-top: 3px;

      svg {
        width: 18px !important;
      }
    }
  }

  &-md {
    .#{$class-prefix}-page-loading-con {
      margin-top: 4px;

      svg {
        width: 20px !important;
      }
    }
  }

  &-lg {
    .#{$class-prefix}-page-loading-con {
      margin-top: 6px;

      svg {
        width: 25px !important;
      }
    }
  }
}

/**
Styles applied to buttons that are wrapped in a <va-button-group>
are defined here.

Ready to be confused?
*/
.#{$class-prefix}-btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.#{$class-prefix}-btn-group>.#{$class-prefix}-btn,
.#{$class-prefix}-btn-group>.#{$class-prefix}-dropdown-con {
  position: relative;
  float: left;
}

.#{$class-prefix}-btn-group {

  >.#{$class-prefix}-btn:not(:first-child):not(:last-child):not(.#{$class-prefix}-dropdown-toggle),
  >.#{$class-prefix}-dropdown-con:not(:first-child):not(:last-child):not(.#{$class-prefix}-dropdown-toggle) {
    border-radius: 0;
    margin-right: 1px;
  }

  >.#{$class-prefix}-btn:first-child {
    margin-left: 0;
  }

  >.#{$class-prefix}-btn:first-child:not(:last-child) {
    margin-right: 1px;
  }

  >.#{$class-prefix}-btn:first-child:not(:last-child):not(.#{$class-prefix}-dropdown-toggle),
  >.#{$class-prefix}-dropdown-con:first-child:not(:last-child):not(.#{$class-prefix}-dropdown-toggle)>span>div>.#{$class-prefix}-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 1px;
  }

  >.#{$class-prefix}-dropdown-con:not(:first-child):not(:last-child)>span>div>.#{$class-prefix}-btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  >.#{$class-prefix}-btn:last-child:not(:first-child),
  >.#{$class-prefix}-dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  >.#{$class-prefix}-dropdown-con:not(:first-child) {
    >span>div>.#{$class-prefix}-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  >.#{$class-prefix}-btn-group {
    float: left;
  }

  >.#{$class-prefix}-btn-group:not(:first-child):not(:last-child)>.#{$class-prefix}-btn {
    border-radius: 0;
  }

  >.#{$class-prefix}-btn-group:first-child:not(:last-child)>.#{$class-prefix}-btn:last-child,
  >.#{$class-prefix}-btn-group:first-child:not(:last-child)>.#{$class-prefix}-dropdown-toggle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  >.#{$class-prefix}-btn-group:last-child:not(:first-child)>.#{$class-prefix}-btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/**
And, of course, when the button group is a vertical button group arrangement.
*/

.#{$class-prefix}-btn-group-vertical {
  position: relative;
  display: inline-flex !important;
  // display: flex;
  flex-direction: column;
  vertical-align: middle;
}

.#{$class-prefix}-btn-group-vertical>.#{$class-prefix}-btn {
  position: relative;
  float: left;
  width: 100%;
  display: flex;

}

.#{$class-prefix}-btn-group-vertical .#{$class-prefix}-btn {
  width: 100%;

}

.#{$class-prefix}-btn-group-vertical {

  >.#{$class-prefix}-btn:not(:first-child):not(:last-child):not(.#{$class-prefix}-dropdown-toggle),
  >.#{$class-prefix}-dropdown-con:not(:first-child):not(:last-child):not(.#{$class-prefix}-dropdown-toggle) {
    border-radius: 0;
    margin-bottom: 1px;
    margin-right: 0px;
  }

  >.#{$class-prefix}-btn:first-child {
    margin-top: 0;
  }

  >.#{$class-prefix}-btn:first-child:not(:last-child) {
    margin-bottom: 1px;
  }

  >.#{$class-prefix}-btn:first-child:not(:last-child):not(.#{$class-prefix}-dropdown-toggle) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  >.#{$class-prefix}-btn:last-child:not(:first-child),
  >.#{$class-prefix}-dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  >.#{$class-prefix}-btn-group-vertical {
    float: left;
  }

  >.#{$class-prefix}-btn-group-vertical:not(:first-child):not(:last-child)>.#{$class-prefix}-btn {
    border-radius: 0;
  }

  >.#{$class-prefix}-btn-group-vertical:first-child:not(:last-child)>.#{$class-prefix}-btn:last-child,
  >.#{$class-prefix}-btn-group-vertical:first-child:not(:last-child)>.#{$class-prefix}-dropdown-toggle {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  >.#{$class-prefix}-btn-group-vertical:last-child:not(:first-child)>.#{$class-prefix}-btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// .#{$class-prefix}-dropdown-selected {
//   >span>div>a.#{$class-prefix}-btn-default {
//     background-color: $N30;
//     color: $N400;
//   }
// }
