.#{$prefix-cls}-card {
  border-radius: 3px;
  transition: all 0.3s;
  background: $N0;
}

.#{$prefix-cls}-card-header {
  background-color: #F4F5F7;
  border-bottom: 1px solid #D5D9DF;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &-inner {
    &-left {
      float: left;
      * {
        margin: 0;
        padding: 0;
        line-height: 32px;
      }
    }
    &-right {
      float: right;
      * {
        margin: 0;
        padding: 0;
        line-height: 32px;
      }
    }
  }
}

.#{$prefix-cls}-card-elevation-0 {
  // box-shadow: 0 0px 0px 0px rgba(9,30,66,0.31), 0 0 0px rgba(9,30,66,0.15);
  box-shadow: none;
  border: 1px solid #D5D9DF;
}

.#{$prefix-cls}-card-elevation-1 {
  box-shadow: 0 2px 6px -2px rgba(9,30,66,0.31), 0 0 1px rgba(9,30,66,0.31);
}

.#{$prefix-cls}-card-elevation-2 {
  box-shadow: 0 4px 8px -2px rgba(9,30,66,0.31), 0 0 1px rgba(9,30,66,0.31);
}

.#{$prefix-cls}-card-elevation-3 {
  box-shadow: 0 6px 10px -2px rgba(9,30,66,0.31), 0 0 1px rgba(9,30,66,0.31);
}

.#{$prefix-cls}-card-elevation-4 {
  box-shadow: 0 8px 12px -2px rgba(9,30,66,0.31), 0 0 1px rgba(9,30,66,0.31);
}

.#{$prefix-cls}-card-elevation-5 {
  box-shadow: 0 10px 14px -2px rgba(9,30,66,0.31), 0 0 1px rgba(9,30,66,0.31);
}
