@mixin checkbox-focus-mixin($color, $opacity: 0.6) {
  &:focus:not(:active):not(:hover), &-focused:not(:active):not(:hover) {
    box-shadow: $color 0px 0px 0px 2px; /* fallback */
    box-shadow: rgba($color, $opacity) 0px 0px 0px 2px;
    outline: none;
  }
}

.#{$prefix-cls}-checkbox-label {
  white-space: nowrap;
  cursor: default;
  outline: none;
  display: inline-block;
  line-height: 1;
  position: relative;
  vertical-align: middle;
  margin-right: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.#{$prefix-cls}-checkbox-label:not(.#{$prefix-cls}-checkbox-checked) {
  &:hover {
    .#{$prefix-cls}-checkbox-inner {
      border-color: #DFE1E6;
      background-color: #EBECF0;
      &-check {
        color: #EBECF0;
      }
    }
  }
  &:active {
    .#{$prefix-cls}-checkbox-inner {
      border-color: transparent;
      background-color: $B75;
      &-check {
        color: $B75;
      }
    }
  }
}

.#{$prefix-cls}-checkbox-label.#{$prefix-cls}-checkbox-checked {
  &:hover {
    .#{$prefix-cls}-checkbox-inner {
      background-color: $B300;
      border-color: $B300;
    }
  }
  &:active {
    .#{$prefix-cls}-checkbox-inner {
      background-color: $B75;
      border-color: $B75;
      &-check {
        color: $B500;
      }
    }
  }
}

.#{$prefix-cls}-checkbox-inner {
  position: relative;
  top: 0;
  margin-top: 1px;
  left: 0;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  border-color: #DFE1E6;
  background-color: #FAFBFC;
  transition: all 0.3s;
  &-check {
    color: #FAFBFC;
    font-size: 9px !important;
    position: relative;
    top: -4px;
    left: 1px;
    transition: all 0.3s;
  }
  @include checkbox-focus-mixin($B200, 0.6);
}

.#{$prefix-cls}-checkbox-input {
  position: absolute !important;
  left: 0;
  z-index: 1;
  cursor: default;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.#{$prefix-cls}-checkbox-checked .#{$prefix-cls}-checkbox-inner {
  border-color: $B400;
  background-color: $B400;
  &-check {
    color: $N0;
  }
}

.#{$prefix-cls}-checkbox-disabled .#{$prefix-cls}-checkbox-inner {
  border-color: $N500;
  background-color: $N500;
}

.#{$prefix-cls}-checkbox-disabled .#{$prefix-cls}-checkbox-inner:after {
  display: none;
}

.#{$prefix-cls}-checkbox-label span {
  vertical-align: top;
}

.#{$prefix-cls}-checkbox-label span.#{$prefix-cls}-label {
  margin-left: 7px;
  position: relative;
  top: 1px;
}

.#{$prefix-cls}-checkbox-btn input[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.#{$prefix-cls}-checkbox-group {
  display: flex;
  flex-direction: row;
  &-vertical {
    display: flex;
    flex-direction: column;
    .#{$prefix-cls}-checkbox-label {
      margin-bottom: 9px;
    }
  }
}