.#{$class-prefix}-close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.4;
  color: $N800;
  text-shadow: 0 1px 0 $N0;
  opacity: .8;
  outline: none;
  &:hover,
  &:focus {
    color: $N800;
    text-decoration: none;
    cursor: default;
    opacity: 1;
  }
}

button.#{$class-prefix}-close {
  -webkit-appearance: none;
  padding: 0;
  cursor: default;
  background: transparent;
  border: 0;
}
