.#{$prefix-cls}-dropdown-con>span>div>a.#{$prefix-cls}-btn,
.#{$prefix-cls}-dropdown-con>span>div>a.#{$prefix-cls}-btn:hover {
  cursor: default;
}

.#{$prefix-cls}-dropdown-con {
  position: relative;
  display: inline-block;

  .#{$prefix-cls}-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 155px;
    max-height: 300px;
    box-sizing: border-box;
    padding: 4px 0;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: $N0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    border-radius: 4px;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: auto;

    hr {
      margin: 5px 0;
      border-bottom-width: 1px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(23, 47, 87, 0.22);

      &:hover {
        background-color: rgba(9, 30, 66, 0.45);
      }
    }

    &::-webkit-scrollbar-track {
      border-radius: 5px;
    }

    &::-webkit-scrollbar {
      width: 0px;
      padding: 5px 2px 5px 0;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
    }

    &:hover {
      &::-webkit-scrollbar {
        width: 7px;
      }

      // overflow-y: auto;
    }

    >li {
      white-space: nowrap;
      display: block;

      a {
        i {
          padding-left: 12px !important;
          position: relative;
          top: 3px;
        }
      }
    }

    >li>a {
      display: flex;
      justify-content: space-between;
      padding: 5px 12px;
      color: $N800;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.5;

      &:hover {
        text-decoration: none;
        background-color: $N20;
      }

      &:active {
        // background-color: $B75;
        background-color: $N60;
        text-decoration: none;
        outline: none;
      }

      &:focus {
        outline: none;
      }
    }
  }
}

.#{$prefix-cls}-dropdown {
  position: relative;
}

.#{$prefix-cls}-dropdown-toggle:focus {
  outline: 0;
}

/**
Dropdowns, while active, don't need a focus ring. It shows focus state by changing the background color.
*/
.#{$prefix-cls}-dropdown-con.#{$prefix-cls}-dropdown-selected>span>div>.#{$prefix-cls}-btn:focus:not(:active):not(.#{$prefix-cls}-select-btn-open),
.#{$prefix-cls}-dropdown-con.#{$prefix-cls}-dropdown-selected>span>div>.#{$prefix-cls}-btn-focused:not(:active):not(.#{$prefix-cls}-select-btn-open) {
  box-shadow: none !important;
}

/**

|    |                        
|--- |---.,---.,-.-.,---.,---.
|    |   ||---'| | ||---'`---.
`---'`   '`---'` ' '`---'`---'

*/
/**
The following styles apply to a button that exists as a dropdown trigger
and is currently active (dropdown is toggled on).
*/


// Base style
.#{$prefix-cls}-dropdown-selected {
  >span>div>a.#{$prefix-cls}-btn {
    background-color: $N500;
    color: $N20;
  }
}

// // Primary
// .#{$prefix-cls}-dropdown-selected {
//   >span>div>a.#{$prefix-cls}-btn-primary {
//     background-color: $B300;
//     color: $N20;
//   }
// }

// // Paleblue
// .#{$prefix-cls}-dropdown-selected {
//   >span>div>a.#{$prefix-cls}-btn-paleblue {
//     background: $PB200;
//     color: $N20;
//   }
// }

// // Subtle
// .#{$prefix-cls}-dropdown-selected {
//   >span>div>a.#{$prefix-cls}-btn-subtle {
//     background-color: $B50;
//     color: $N200;
//   }
// }

// // Purple
// .#{$prefix-cls}-dropdown-selected {
//   >span>div>a.#{$prefix-cls}-btn-purple {
//     background-color: $P400;
//     color: $N20;
//   }
// }

/**
The following styles apply to a button that exists as a dropdown trigger
that resides inside of the va-topbar element.
*/
.#{$prefix-cls}-topbar--theme-blue {
  .#{$prefix-cls}-dropdown-selected {
    >span>div>a.#{$prefix-cls}-btn {
      background-color: $B500;
      color: $N20;
    }

    >span>div>a.#{$prefix-cls}-btn-primary-dark {
      background: $B400;
    }
  }
}

.#{$prefix-cls}-topbar--theme-purple {
  .#{$prefix-cls}-dropdown-selected {
    >span>div>a.#{$prefix-cls}-btn {
      background-color: $P400;
      color: $N20;
    }

    >span>div>a.#{$prefix-cls}-btn-purple-dark {
      background: $P400;
    }
  }
}



.#{$prefix-cls}-topbar {
  .#{$prefix-cls}-dropdown-con-tall {
    height: 100%;
    > span {
      height: 100%;
      > div {
        height: 100%;
        > a {
          height: 100%;
          border-radius: 0px !important;
        }
      }
    }
  }
}