@mixin input-size($padding, $fontSize, $lineHeight, $borderRadius, $minHeight, $maxHeight) {
  padding: $padding;
  font-size: $fontSize;
  line-height: $lineHeight;
  border-radius: $borderRadius;
  min-height: $minHeight;
  max-height: $maxHeight;
}

@mixin input-focus-mixin($color, $opacity: 0.6) {

  &:focus {
    box-shadow: $color 0px 0px 0px 2px;
    /* fallback */
    box-shadow: rgba($color, $opacity) 0px 0px 0px 2px;
    outline: none;
  }
}

@mixin defaultInputSize() {
  @include input-size( $padding: 7px, $fontSize: 14px, $lineHeight: 1.45em, $borderRadius: 3px, $minHeight: 34px, $maxHeight: 34px);
}

@mixin smallInputSize() {
  @include input-size( $padding: 6px, $fontSize: 13px, $lineHeight: 1.3em, $borderRadius: 3px, $minHeight: 32px, $maxHeight: 32px);
}

@mixin extraSmallInputSize() {
  @include input-size( $padding: 5px, $fontSize: 11px, $lineHeight: 1.2em, $borderRadius: 3px, $minHeight: 28px, $maxHeight: 28px);
}

@mixin baseInputStyle () {
  align-items: center;
  background-color: $N10;
  color: $N900;
  display: block;
  width: 100%;
  border-color: $N40;
  border-style: solid;
  border-width: 2px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  &:focus {
    border-color: $B100;
    outline: none;
    background-color: $N0 !important;
  }
  &:hover {
    background-color: $N20;
  }
  // @include input-focus-mixin($B100, 0.2);
}

/*sizes*/

.#{$prefix-cls}-form-control {
  @include baseInputStyle();
  @include defaultInputSize();
  &[readonly] {
    cursor: default;
    &:hover {
      cursor: default;
    }
  }
}

.#{$prefix-cls}-input-sm {
  .#{$prefix-cls}-form-control {
    @include smallInputSize();
  }
}

.#{$prefix-cls}-input-xs {
  .#{$prefix-cls}-form-control {
    @include extraSmallInputSize();
    font-weight: 500;
  }
}

.#{$prefix-cls}-form-horizontal .#{$prefix-cls}-control-label {
  font-size: 12px;
  font-weight: 600;
  color: $N300;
  margin-bottom: 8px;
  text-align: left;
}

.#{$prefix-cls}-form-need {
  color: $R300;
  position: relative;
  top: 3px;
  left: 1px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}

@media (min-width: 768px) {
  .#{$prefix-cls}-form-inline {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .#{$prefix-cls}-form-group {
      display: inline-block;
      margin-bottom: 20px;
      margin-right: 6px;
      vertical-align: middle;

    }
    .#{$prefix-cls}-form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
    .#{$prefix-cls}-form-control-static {
      display: inline-block;
    }
    .#{$prefix-cls}-control-label {
      margin-bottom: 0;
      vertical-align: top;
      font-weight: 600;
      font-size: 0.86em;
      color: $N300;
    }
  }
}

.#{$prefix-cls}-form-group {
  margin: 0 0 15px 0;
}

.#{$prefix-cls}-form-horizontal .#{$prefix-cls}-form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 768px) {
  .#{$prefix-cls}-form-horizontal .#{$prefix-cls}-control-label {
    margin: 0;
    text-align: right;
  }
}

/*validation*/

@mixin validationDefaults() {
  font-size: 12px;
  font-weight: 500;
  margin-top: 6px;
}

.#{$prefix-cls}-err-tip {
  @include validationDefaults();
  color: $R400;
}

.#{$prefix-cls}-has-error {
  .#{$prefix-cls}-form-control {
    border-color: $R400 !important;
  }
}

/**
Input theme mixin.
*/
@mixin form-control-input-theme(
  $selector,
  $backgroundColor,
  $color,
  $focusBorderColor,
  $focusBGColor,
  $hoverBGColor
) {
  .#{$prefix-cls}-form-control-#{$selector} {
    background-color: $backgroundColor;
    color: $color;
    &:focus {
      border-color: $focusBorderColor;
      background-color: $focusBGColor;
    }
    &:hover {
      background-color: $hoverBGColor;
    }
  }
}

/**
Input themes. Default is 'primary' in VaInput.vue.
*/
@include form-control-input-theme('default', revert, revert, $N100, revert, revert);
@include form-control-input-theme('primary', revert, revert, $B100, revert, revert);
@include form-control-input-theme('purple', revert, revert, $P100, revert, revert);
@include form-control-input-theme('success', revert, revert, $G200, revert, revert);
@include form-control-input-theme('warning', revert, revert, $Y200, revert, revert);
@include form-control-input-theme('danger', revert, revert, $R200, revert, revert);