body {
  background-color: $N0;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.position-left-bottom {
  top: 100% !important;
  bottom: initial !important;
  left: initial !important;
  right: 0px !important;
}

.position-right-bottom {
  top: 100% !important;
  bottom: initial !important;
  left: 0px !important;
  right: initial !important;
}

.position-left-top {
  top: initial !important;
  bottom: 40px !important;
  left: initial !important;
  right: 0px !important;
}

.position-right-top {
  top: initial !important;
  bottom: 40px !important;
  left: 0px !important;
  right: initial !important;
}

hr {
  border: 0;
  border-bottom: 2px solid $N30;
  margin: 5px 0 15px 0;
}

.relative {
  position: relative !important;
}

.fixed {
  position: fixed !important;
}

*[contenteditable="true"] {
  position: relative;
  left: -5px;
  padding: 5px;
  &:hover {
    background: $N20;
    border-radius: 4px;
  }
  &:focus {
    outline: none;
    border-radius: 4px;
    background: white !important;
    color: $N500 !important;
    -webkit-box-shadow: inset 0px 0px 0px 2px $B200;
    -moz-box-shadow: inset 0px 0px 0px 2px $B200;
    box-shadow: inset 0px 0px 0px 2px $B200;
    transition: background 0.1s ease-out,
    box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
  }
}