@mixin input-theme-mixin($iconColor,
$iconHoverColor,
$iconActiveColor) {

  .#{$prefix-cls}-input-show-clean,
  .#{$prefix-cls}-input-show-icon,
    {
    color: $iconColor;
  }

  .#{$prefix-cls}-input-show-clean {
    &:hover {
      color: $iconHoverColor;
    }

    &:active,
    &:focus {
      color: $iconActiveColor;
    }
  }
}

@mixin input-ops-theme-mixin($opsBackground,
$opsBtnBoxShadow) {

  background: $opsBackground;

  .#{$prefix-cls}-btn {
    box-shadow: $opsBtnBoxShadow;
  }
}

.#{$prefix-cls}-input,
.#{$prefix-cls}--theme-light.#{$prefix-cls}-input {
    &-con {
      @include input-theme-mixin(
        $iconColor: $N80,
        $iconHoverColor: $N100,
        $iconActiveColor: $B100
      );
    }
    &-ops {
      @include input-ops-theme-mixin(
        $opsBackground: transparent,
        $opsBtnBoxShadow: (0 2px 4px -1px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.25))
      );
    }
}

.#{$prefix-cls}-input-con {
  position: relative;

  &:hover {
    .#{$prefix-cls}-input-show-clean {
      opacity: 1;
    }
  }
}

.#{$prefix-cls}-show-clean:hover .#{$prefix-cls}-input-show-icon {
  display: none;
}

/*the icon*/

.#{$prefix-cls}-input-icon-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 30px;
}

.#{$prefix-cls}-input-show-clean,
.#{$prefix-cls}-input-show-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 26px;
  padding: 0;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.#{$prefix-cls}-input-show-clean {
  opacity: 0;
  cursor: default;
}

.#{$prefix-cls}-input-show-icon {
  opacity: 1;
}

/*positioning the icon based on input size*/

/*sm*/

.#{$prefix-cls}-input-sm {
  .#{$prefix-cls}-input-icon-wrapper {
    i {
      top: 8px;
    }
  }
}

/*xs*/

.#{$prefix-cls}-input-xs {
  .#{$prefix-cls}-input-icon-wrapper {
    i {
      font-size: 12px !important;
      top: 8px;
    }
  }
}

.#{$prefix-cls}-input-ops {
  position: absolute;
  z-index: 4;
}