.#{$prefix-cls}-notification {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 2000;
  display: none;
  overflow: auto;
  outline: 0;
  transition: all 0.3s ease;

  &-in {
  }

  &-dialog {
    position: relative;
    width: auto;
    // max-width: 90%;
    padding: 40px 40px 25px 25px;
  }

  &-content {
    position: relative;
    background-color: $N0;
    background-clip: padding-box;
    border-radius: 3px;
    outline: 0;
    box-shadow: none;
    border: none;
    // padding: 15px;
  }

  /**
   * Expands to va-notification-fade va-notification-in
   */
  &-fade#{&}-in {
    opacity: 1 !important;
  }

  /**
   * fade-right
   */
  &-fade-right &-content {
    opacity: 0;
    transform: translateX(20px);
    transition: transform 0.3s, opacity 0.3s;
  }

  &-fade-right#{&}-in &-content {
    opacity: 1;
    transform: translateX(0);
    box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 1px, rgba(9, 30, 66, 0.31) 0px 0px 20px -6px;
  }

  &-fade-right#{&}-out &-content {
    opacity: 0;
    transform: translateX(20px);
  }

  @mixin notification-content-inner-mixin($type, $borderColor, $iconColor) {
    .#{$prefix-cls}-notification-content-inner-#{$type} {
      display: flex;
      flex-direction: row;
      &-left {
        flex-basis: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        background-color: $borderColor;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        i {
          color: $iconColor;
        }
      }
      &-right {
        flex: 1;
        padding: 20px;
        &-close {
          position: absolute;
          top: 13px;
          right: 13px;
        }
        &-title {
          font-weight: bold;
          max-width: 90%;
        }
        &-message {
          margin-top: 5px;
        }
      }
    }
  }

  @mixin notification-content-mixin($type, $borderSize, $borderColor, $iconColor) {
    .#{$prefix-cls}-notification-content {
      border-top: $borderSize solid $borderColor;
      border-right: $borderSize solid $borderColor;
      border-bottom: $borderSize solid $borderColor;
    }
    @include notification-content-inner-mixin($type, $borderColor, $iconColor);
  }

  &-default {
    @include notification-content-mixin('default', 1px, $N60, $N500);
  }

  &-warning {
    @include notification-content-mixin('warning', 1px, $Y200, $N400);
  }

  &-danger {
    @include notification-content-mixin('danger', 1px, $R300, $N10)
  }

  &-success {
    @include notification-content-mixin('success', 1px, $G200, $G500)
  }

  &-info {
    @include notification-content-mixin('info', 1px, $B100, $B500)
  }
}

