@mixin page-theme-mixin($background,
$color,
$scrollbarBackground) {

  &.#{$class-prefix}-page-wrapper {
    background: $background;
    &::-webkit-scrollbar {
      background: $scrollbarBackground;
    }
  }

  .#{$class-prefix}-page {
    &-wrapper {}

    &-container {
      color: $color;

      &-article {}

      &-lg {}

      &-md {}

      &-sm {}
    }

    &-title {}

    &-subtitle {}
  }

}

@include page-theme-mixin($background: #FFFFFF,
$color: black,
$scrollbarBackground: #FFFFFF);

.#{$class-prefix}-page {
  &-wrapper {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    overflow-y: hidden;
    overflow-x: hidden;

    &:hover {
      overflow-y: auto;
      overflow-x: auto;
    }

    &::-webkit-scrollbar-track {
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 14px;
      height: 18px;
    }

    &::-webkit-scrollbar-thumb {
      &:hover {
        background-color: rgba(9, 30, 66, 0.45);
      }

      height: 6px;
      border: 4px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      -webkit-border-radius: 7px;
      background-color: rgba(9, 30, 66, 0.05);
    }

    &:hover {
      // overflow-y: scroll;
    }
  }

  &-container {
    position: relative;
    display: flex;
    // margin-bottom: 500px;

    &-article {
      h1 {
        margin-top: 28px;
        margin-bottom: 8px;
      }

      h2 {
        margin-top: 24px;
        margin-bottom: 8px;
      }

      h3 {
        margin-top: 32px;
        margin-bottom: 8px;
      }

      h4 {
        margin-top: 24px;
        margin-bottom: 8px;
      }

      p {
        margin: 16px 0;
        padding: 0;
      }

      ol li {
        line-height: 26px;
      }

      ul li {
        line-height: 26px;
      }
    }

    &-lg {
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      max-width: 100%;
      position: relative;
      margin: 0;
      padding: 0 20px;
    }

    &-md {
      align-items: flex-start;
      flex-wrap: wrap;
      width: 960px;
      max-width: 960px;
      position: relative;
      margin: 0 auto;
      padding: 0 20px;
    }

    &-sm {
      align-items: flex-start;
      flex-wrap: wrap;
      position: relative;
      width: 680px;
      max-width: 680px;
      margin: 0 auto;
      padding: 0 20px;
    }
  }

  &-title {
    h1 {
      font-size: 1.7em;
      font-style: inherit;
      font-weight: 500;
      letter-spacing: -0.01em;
      line-height: 1.1;
      margin-top: 40px;
    }
  }

  &-subtitle {
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.4em;
    }
  }
}

// Disables scrolling when a modal is open.
.#{$class-prefix}-modal-open .#{$class-prefix}-page-wrapper {
  overflow: hidden !important;
}
