.#{$class-prefix}-page-header {
  margin-top: 24px;
  margin-bottom: 16px;

  /* TITLE */
  &-title-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-title-container {
    width: 100%;
    flex-shrink: 1;
    min-width: 0;

    h1 {
      font-weight: 500;
      font-size: 1.71em;
      font-style: inherit;
      letter-spacing: -0.01em;
      line-height: 32px;
      margin-top: 0;
      margin-bottom: 8px;
    }

    h2 {
      font-weight: 400;
      font-size: 1.25em;
      font-style: inherit;
      letter-spacing: -0.01em;
      line-height: 26px;
      margin-top: 0;
      margin-bottom: 8px;
    }
  }

  /* ACTIONS */
  &-actions-wrapper {
    white-space: nowrap;
    padding-left: 32px;
    min-width: 0;
    flex-shrink: 0;

    & > div {
      & > * {
        margin-left: 6px;
      }
    }
  }

  /* BREADCRUMBS */
  &-breadcrumb-wrapper {

  }

  &-breadcrumb-container {
    display: flex;
    flex-wrap: wrap;
  }

  /* BOTTOM BAR */
  &-bottom-wrapper {
    display: flex;
    justify-content: start;
    margin-top: 16px;

    & > div {
      display: contents;
      flex-direction: row;
      & > * {
        margin-right: 6px;
      }
    }
  }

}
