@mixin radio-focus-mixin($color, $opacity: 0.6) {
  &:focus:not(:active):not(:hover), &-focused:not(:active):not(:hover) {
    box-shadow: $color 0px 0px 0px 2px; /* fallback */
    box-shadow: rgba($color, $opacity) 0px 0px 0px 2px;
    outline: none;
  }
}

.#{$prefix-cls}-radio-con {
  margin-right: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .#{$prefix-cls}-label {
    margin-left: 8px;
    outline: none;
  }
  &:hover {
    cursor: default;
  }
  .#{$prefix-cls}-radio-span {
    white-space: nowrap;
    outline: none;
    display: inline-block;
    position: relative;
    line-height: 1;
    vertical-align: middle;
  }
  .#{$prefix-cls}-radio-inner {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-radius: 14px;
    border-color: #DFE1E6;
    background-color: #FAFBFC;
    transition: all 0.3s;
    @include radio-focus-mixin($B200, 0.6);
  }
  &:active {
    .#{$prefix-cls}-radio-inner {
      background-color: $B75 !important;
      border-color: $B75 !important;
    }
  }
  .#{$prefix-cls}-radio-input {
    position: absolute !important;
    left: 0;
    z-index: 1;
    cursor: default;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    .#{$prefix-cls}-radio-span:not(.#{$prefix-cls}-radio-checked) {
      .#{$prefix-cls}-radio-inner {
        background-color: #EBECF0;
      }
    }
  }
  .#{$prefix-cls}-radio-checked {
    &:hover {
      .#{$prefix-cls}-radio-inner {
        background-color: $B300;
        border-color: $B300;
      }
    }
  }
  &:active {
    .#{$prefix-cls}-radio-checked {
      .#{$prefix-cls}-radio-inner {
        &:after {
          background-color: $B500;
        }
      }
    }
  }
  .#{$prefix-cls}-radio-checked .#{$prefix-cls}-radio-inner:after {
    transform: scale(1);
    opacity: 1;
  }
  .#{$prefix-cls}-radio-checked .#{$prefix-cls}-radio-inner {
    background-color: $B400;
    border-color: $B400;
  }
  .#{$prefix-cls}-radio-inner:after {
    position: absolute;
    width: 4px;
    height: 4px;
    left: 4px;
    top: 4px;
    border-radius: 6px;
    display: table;
    border-top: 0;
    border-left: 0;
    content: ' ';
    background-color: $N0;
    transform: scale(0);
    opacity: 0;
  }
  .#{$prefix-cls}-radio-disabled .#{$prefix-cls}-radio-inner {
    border-color: $N40;
    background-color: $N100;
  }
}

.#{$prefix-cls}-radio-btn input[type=radio] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.#{$prefix-cls}-radio-group {
  display: flex !important;
  flex-direction: row;
  &-vertical {
    display: flex;
    flex-direction: column;
  }
}