.#{$prefix-cls}-range-barCnt {
  position: relative;
  height: 10px;
  padding: 5px 0px;
}

.#{$prefix-cls}-range-barCnt .#{$prefix-cls}-range-preBar {
  position: absolute;
  background-color: $B400;
  height: 5px;
  line-height: 5px;
  z-index: 200;
  border-radius: 3px;
  padding: 0px;
  margin: 0px;
  pointer-events: none;
}

input[type=range].#{$prefix-cls}-range.colorized {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  position: absolute;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  z-index: 100;
  left: 0px
}

input[type=range].#{$prefix-cls}-range.colorized::-webkit-slider-runnable-track {
  height: 5px;
  background: $N30;
  border: none;
  border-radius: 3px;
}

input[type=range].#{$prefix-cls}-range.colorized::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  z-index: 201 !important;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 3px 1px;
  margin-top: -5px;
  z-index: 400;
}

input[type=range].#{$prefix-cls}-range.colorized:focus {
  outline: none;
}

input[type=range].#{$prefix-cls}-range.colorized:focus::-webkit-slider-thumb {
  box-shadow: 0 0 1px 2px rgb(11, 66, 175), 0 7px 12px -3px rgba(9, 30, 66, 0.25);
}

input[type=range].#{$prefix-cls}-range.colorized:focus::-webkit-slider-runnable-track {
  background: $N30;
}

input[type=range].#{$prefix-cls}-range.colorized::-moz-range-track {
  width: 100%;
  height: 5px;
  background: $N30;
  border: none;
  border-radius: 3px;
}

input[type=range].#{$prefix-cls}-range.colorized::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 3px 1px;
  z-index: 400;
}

input[type=range].#{$prefix-cls}-range.colorized::-moz-focus-outer {
  border: 0;
}

input[type=range].#{$prefix-cls}-range.colored:focus::-moz-range-thumb {
  box-shadow: 0 0 1px 2px rgb(11, 66, 175), 0 7px 12px -3px rgba(9, 30, 66, 0.25);
}
