html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  // -webkit-font-smoothing: antialiased;
}

svg.va-svg:not(:root) {
  overflow: hidden;
}

button.va-button {
  overflow: visible;
}

button.va-button {
  text-transform: none;
}

button.va-button::-moz-focus-inner,
input.va-input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input.va-input {
  line-height: normal;
}

input.va-checkbox-input,
input.va-radio {
  box-sizing: border-box;
  padding: 0;
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

input.va-number::-webkit-inner-spin-button,
input.va-number::-webkit-outer-spin-button {
  height: auto;
}

input.va-search {
  box-sizing: border-box;
  -webkit-appearance: textfield;
}

input.va-search::-webkit-search-cancel-button,
input.va-search::-webkit-search-decoration {
  -webkit-appearance: none;
}

input.va-file {
  display: block;
}

input.va-range {
  display: block;
  width: 100%;
}

select.va-multiple,
select.va-size {
  height: auto;
}

input.va-file:focus,
input.va-radio:focus,
input.va-checkbox-input:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}
