@mixin select-theme-mixin(
  $hasErrorBtnBorder,
  $btnOpenBackgroundColor,
  $btnOpenColor,
  $selectedTagBackground,
  $selectedTagFocusOutline,
  $selectedTagHoverColor,
  $selectedTagHoverAfterColor,
  $selectedTagAfterColor,
  $selectedTagActiveColor,
  $selectedTagActiveAfterColor,
  $searchOutline,
  $searchBorderBottom,
  $dropdownMenuBackground,
  $dropdownMenuBoxShadow,
  $notifyBackground,
  $notifyBorder,
  $notifyBoxShadow,
  $addButtonColor,
  $selectAllBorderBottom,
  $selectAllAnchorIconColor,
  $dropdownPlaceholderColor,
  $dropdownPlaceholderActiveColor,
  $itemActiveBackground,
  $itemActiveHoverBackground,
  $selectOpenBtnFocusBoxShadow,
  $searchWrapBackground,
  $searchWrapBorderBottomColor
) {
  &-search {
    outline: $searchOutline;
    border-bottom: $searchBorderBottom;
  }

  &-btn-open {
    background-color: $btnOpenBackgroundColor;
    color: $btnOpenColor;
  }
  &-group {
    &.#{$prefix-cls}-has-error {
      .#{$prefix-cls}-btn {
        &:after {
          border: $hasErrorBtnBorder;
        }
      }
    }

    .#{$prefix-cls}-search-wrap {
      background: $searchWrapBackground;
      border-bottom: 1px solid $searchWrapBorderBottomColor;
    }

    .#{$prefix-cls}-selected-tag {
      background: $selectedTagBackground;
      &:focus {
        outline: $selectedTagFocusOutline;
      }
      &:hover {
        color: $selectedTagHoverColor;
        &:after {
          color: $selectedTagHoverAfterColor;
        }
      }
      &:after {
        color: $selectedTagAfterColor;
      }
      &:active {
        color: $selectedTagActiveColor;
        &:after {
          color: $selectedTagActiveAfterColor;
        }
      }
    }
    &-btn.#{$prefix-cls}-btn {
      // background-color: $N10;
      &:after {
        // border: 2px solid $N40;
      }
      &:hover {
        // background: $N20;
      }
      &:active {
        // color: $N400;
      }
    }
    .#{$prefix-cls}-dropdown-menu {
      background-color: $dropdownMenuBackground;
      -webkit-box-shadow: $dropdownMenuBoxShadow;
      box-shadow: $dropdownMenuBoxShadow;
      .#{$prefix-cls}-notify {
        background: $notifyBackground;
        border: $notifyBorder;
        box-shadow: $notifyBoxShadow;
      }
      .#{$prefix-cls}-fa-plus-square-o {
        color: $addButtonColor;
      }
      .#{$prefix-cls}-select-all {
        border-bottom: $selectAllBorderBottom;
        a {
          i {
            color: $selectAllAnchorIconColor;
          }
        }
      }
    }
    .#{$prefix-cls}-dropdown-toggle {
      .#{$prefix-cls}-select-placeholder {
        color: $dropdownPlaceholderColor;
      }
      &:active:not(.#{$prefix-cls}-select-btn-open) {
        .#{$prefix-cls}-select-placeholder {
          color: $dropdownPlaceholderActiveColor;
        }
      }
    }
  }

  &-item-active {
    background: $itemActiveBackground;
    &:hover {
      background: $itemActiveHoverBackground !important;
    }
  }
  
  /**
  No focus ring on an open Select
  */
  &-btn-open.#{$prefix-cls}-btn:focus,
  &-btn-open.#{$prefix-cls}-btn-focused {
    box-shadow: $selectOpenBtnFocusBoxShadow;
  }
}

.#{$prefix-cls}-select,
.#{$prefix-cls}--theme-light .#{$prefix-cls}-select {
  @include select-theme-mixin(
    $hasErrorBtnBorder: 2px solid $R400 !important,
    $btnOpenBackgroundColor: $N500 !important,
    $btnOpenColor: $N20 !important,
    $selectedTagBackground: none,
    $selectedTagFocusOutline: none,
    $selectedTagHoverColor: $R300,
    $selectedTagHoverAfterColor: $R300,
    $selectedTagAfterColor: $N60,
    $selectedTagActiveColor: $R500 !important,
    $selectedTagActiveAfterColor: $R500 !important,
    $searchOutline: none,
    $searchBorderBottom: 0px solid $N40,
    $dropdownMenuBackground: $N0,
    $dropdownMenuBoxShadow: (rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px),
    $notifyBackground: $Y100,
    $notifyBorder: 1px solid $N100,
    $notifyBoxShadow: inset 0 1px 1px rgba(0, 0, 0, .05),
    $addButtonColor: $N60,
    $selectAllBorderBottom: 1px solid $N40,
    $selectAllAnchorIconColor: $N60,
    $dropdownPlaceholderColor: $N70,
    $dropdownPlaceholderActiveColor: $B400,
    $itemActiveBackground: $N20,
    $itemActiveHoverBackground: $N20 !important,
    $selectOpenBtnFocusBoxShadow: none,
    $searchWrapBackground: #f4f5f7,
    $searchWrapBorderBottomColor: #e0e0e0
  )
}


.#{$prefix-cls}-select-group {
  .#{$prefix-cls}-select-btn-open {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
    }
  }
  .#{$prefix-cls}-selected-tag {
    display: flex;
    align-items: center;
    padding: 0 0 0 8px;
    margin-right: 3px;
    border-radius: 2px;
    position: relative;
    z-index: 20;
    &:after {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-right: 5px;
      min-width: 15px;
      align-items: center;
      display: flex;
      justify-content: space-around;
      content: "\f00d";
      font: normal normal normal 11px/1 "Font Awesome 5 Free Solid";
      margin-left: 5px;
    }
  }
  .#{$prefix-cls}-select-btn.#{$prefix-cls}-btn {
    cursor: default;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 3px;
      z-index: 15;
    }
  }
  .#{$prefix-cls}-search-wrap {
    padding: 10px 10px 10px 10px;
    z-index: 10;
    margin-top: -4px;
  }
  .#{$prefix-cls}-select-search {
    border: 0px;
    padding: 0;
    width: 100%;
    font-size: 14px;
    z-index: 10;
  }
  .#{$prefix-cls}-dropdown-menu {
    display: block;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 155px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px 0;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 3px;
    list-style-type: none;
    li {
      a {
        padding: 8px 34px 8px 12px;
        span {
          cursor: default;
        }
      }
    }
    .#{$prefix-cls}-notify {
      position: absolute;
      bottom: 5px;
      width: 96%;
      margin: 0 2%;
      min-height: 26px;
      padding: 3px 5px;
      border-radius: 3px;
      pointer-events: none;
    }
    .#{$prefix-cls}-fa-check {
      position: absolute;
      display: inline-block;
      right: 10px;
      top: 10px;
    }
    .#{$prefix-cls}-fa-plus-square-o {
      font-size: 16px;
      position: absolute;
      top: 13px;
      right: 10px;
    }
    .#{$prefix-cls}-select-all {
      position: relative;
      cursor: default;
    }
  }
  .#{$prefix-cls}-has-search {
    width: 230px;
    padding-top: 40px;
  }
  .#{$prefix-cls}-dropdown-toggle {
    text-align: left;
    display: flex;
    align-items: center;
    min-width: 80px;
    justify-content: space-evenly;
    .#{$prefix-cls}-btn-text-fade {
      justify-content: space-between !important;
      i {
        position: inherit;
        right: 7px;
        top: 50%;
        margin-top: -1px;
        margin-right: 3px;
      }
    }
    &>span {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }
}

.#{$prefix-cls}-select-items-wrapper {
  overflow-y: auto;
}