.#{$class-prefix}-nav-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 2px solid $N30;
  .#{$class-prefix}-nav-tab {
    padding-bottom: 4px;
    margin-right: 15px;
    line-height: 20px !important;
    &-disabled {
      a {
        color: $N70 !important;
        font-weight: normal !important;
        cursor: not-allowed;
      }
    }
    a {
      color: $N300;
      font-weight: 600;
      padding-bottom: 6px;
      &:hover {
        text-decoration: none;
        color: $B300;
      }
      &:focus {
        outline: none;
      }
    }
    &-active {
      a {
        color: $B400;
        border-bottom: 2px solid $B300;
      }
    }
  }
}
